[2020-02-19 13:22] sanishkr opened #1 "Documentation [tailwind.macro -> twin.macro]"
In [Examples](https://github.com/ben-rogerson/twin.macro#examples)

Please replace [tailwind.macro -> twin.macro].

[2020-02-19 20:20] ben-rogerson commented on #1
Thanks for alerting me to this, I've now updated the examples

[2020-02-19 20:20] #1 closed

[2020-02-19 23:05] axe312ger opened #2 "twin.macro: Invalid or unexpected token"
Hey Ben,

thank you for your work. I was really looking forward to get tailwind working with emotion :)

My code was working quiet ok with tailwind.macro, I moved on to twin.macro and now end up with:

[code]

As soon I import the macro this error happens, I dont have to actually call it.

Unfortunately the error message does not tell me a lot about what and where sth went wrong :(

Related PR wit

[2020-02-20 01:32] ben-rogerson commented on #2
Hey Benedikt,
Many thanks for the bug report, I'll troubleshoot and get back to you 👍

[2020-02-20 09:26] ben-rogerson commented on #2
I wasn't able to replicate the issue and I haven't seen that error anywhere during testing.

[2020-02-20 09:42] designbyadrian opened #3 "border-t/r/b/l doesn't automatically apply border style"
[code]

Should render a div width

[code]

But what I get is

[code]

If, instead, I write:

[code]

I get

[code]

Which renders a div with 2px border around, and 1px bottom!

---

I don't understand how to write an example with babel macros in CodePen. I'd happily fork one if one exists.

[2020-02-20 09:57] designbyadrian commented on #3
My solution now is to write:

[code]

[2020-02-20 10:32] designbyadrian opened #4 ""inset" config option overwrites default classes"
With empty config, I can write:

[code]

But adding

[code]

To the config, which is the default Tailwind config, right-0 doesn't resolve to a class.

[2020-02-20 11:25] axe312ger commented on #2
Alright, ill try to encapsulate a simple project that raises the same issue

[2020-02-20 11:45] ben-rogerson commented on #3
Yeah that's an annoying one - but lucky it's an easy fix, you need to add the tailwind base css.
I've just added an [installation step about the base.css file](https://github.com/ben-rogerson/twin.macro/blob/master/README.md#3-import-the-tailwind-reset) in the readme.

In Tailwind's base css, this is the magic that makes borders work the way you're used to:

[code]

[2020-02-20 12:18] designbyadrian commented on #3
@ben-rogerson Thank you! That's a good solution, as we also get basic CSS resets as well 👍

[2020-02-20 12:18] #3 closed

[2020-02-20 12:39] ben-rogerson commented on #4
I have this converting well in my tests:

[code]

[code]
and my `./tailwind.config.js` in my root directory is:
[code]

[2020-02-20 14:09] axe312ger commented on #2
Could replicate my project setup with twin, but I do not run into this error as well. It has to be something I dont cover in my test repo, maybe lerna. I'll dig deeper. For now:

https://github.com/axe312ger/gatsby-starter-theme-ui-emotion-tailwind

[2020-02-20 15:44] lukasluecke opened #5 "Add Typescript definitions"
Would be awesome to have both for discoverability / auto-completion, and also checking for mistakes and errors.

`@emotion/styled` has this for css properties, so we could have it for the tailwind classes 🙂

Maybe take inspiration from https://github.com/christianalfoni/tailwindcss-classnames or https://github.com/dvkndn/typed.tw.

[2020-02-20 19:44] bennettrogers opened #6 "support custom breakpoints"
Thanks for making this module! I've been hoping to use the newer releases of Tailwind with Emotion.

I'm trying to use my custom `@screen` breakpoints with the macro, but can only seem to get the default breakpoints to work.

I'm using the approach mentioned by @llaski on [this thread](https://github.com/bradlc/babel-plugin-tailwind-components/issues/21), by calling the `_utils.stringifyScreen` fu

[2020-02-20 20:23] ben-rogerson commented on #5
Great idea - I can see the value on the autocompletion feature. I'll put it on the cards 👍

[2020-02-20 20:38] ben-rogerson commented on #6
Hey Benett, thanks for giving the new package a trial.

If you've added your custom breakpoints to the config then you can use them with tailwind classes as normal:

[code]

[code]
Was there another reason you needed to use the stringifyScreen util?

[2020-02-20 20:47] ben-rogerson commented on #6
If you're using them in a styled block then it's a little more complex.
You'd need to import the config and grab the screen sizes and work with them manually.
I understand this isn't ideal so I'll provide a similar function in the near future.

For now, something like this should work:

[code]

[2020-02-20 21:29] bennettrogers commented on #6
Thanks for replying so quickly.

I'm trying to use the `@screen` directive so that I can have a block of responsive CSS that can use styles that aren't directly supported in Tailwind (e.g. grid template areas).

I just gave your above suggestion a try, but I'm running into a problem that I've seen before: the `module.exports` vs `export default` conflict referenced in [this Tailwind issue](https:/

[2020-02-21 02:56] ben-rogerson commented on #2
Thanks for your report, hopefully you can get it all sorted. Sweet starter you got there too 👌

[2020-02-21 13:52] axe312ger commented on #2
Thanks, was just a test. Works fine except some issues with theme-ui -> tailwind config conversion. But we gonna fix this over there 💪

So far my second try to implement twin in my project does work seamlessly. I don't run into that bug anymore, even with lerna etc.

https://github.com/axe312ger/gatsby-mdx-suite/pull/49

For now I guess the original error might be related to some weird dependency

[2020-02-21 23:44] ben-rogerson commented on #6
I've run into that issue before and think I fixed it with the advice on that issue.

[2020-02-21 23:48] ben-rogerson commented on #6
Soon I'll be adding responsive tools that will support your use case.

I can also add support grid areas in the `tw` blocks.
With Twin, grid template areas could potentially be used like this:

[code]

[code]

I'm not sure why grid template areas isn't added in Tailwind yet as it seems like a quick addition.

[2020-02-22 12:05] ben-rogerson commented on #4
At the moment, you'll need to restart your dev server to pick up changes in your tailwind.config.js.
But that shouldn't be required once I've finished dev mode.

[2020-02-23 00:55] ben-rogerson commented on #6
Take a look at the [react-tailwind-emotion-starter](https://codesandbox.io/s/react-tailwind-emotion-starter-c5mw3) that exposes the tailwind config via the theme prop.

[2020-02-23 01:48] lukasluecke opened #7 "Support tailwind plugins (e.g. custom-forms)"
I tried to use https://tailwindcss-custom-forms.netlify.com but seems like it can't find the new classes.

[2020-02-23 02:47] ben-rogerson commented on #7
Hey Lukas
Twin only converts Tailwind classes to object styles and plugins aren't supported... yet.
It's a feature I really want to add and it's on the TODO list.
Cheers

[2020-02-23 04:11] ben-rogerson commented on #2
ok I'll close this for now, feel free to reopen if you come across it again

[2020-02-23 04:11] #2 closed

[2020-02-23 04:12] #4 closed

[2020-02-23 10:43] lukasluecke commented on #7
Yeah that's what I figured as well, no worries. If there's anything I can do to help let me know 🙂

[2020-02-24 12:05] vladferix commented on #7
I would also vote for this feature, cause this seems to be the thing preventing me to migrate from tailwind.macro to twin

[2020-02-24 21:32] ben-rogerson commented on #7
@vladferix Twin stemmed from tailwind.macro so there shouldn't be a difference in the way it handles plugins.
If you've tailwind.macro loads the plugin correctly (and doesn't in twin) could you please let me know the plugin so I can look into it further?

[2020-02-25 11:46] vladferix commented on #7
@ben-rogerson in my tailwind.config I write something like this
`javascript
plugins: [
    require("tailwindcss-transitions")(),
    require("tailwindcss-transforms")(),
    function({ addUtilities }) {
      const newUtilities = {
        ".type-sm": {
          fontSize: fontSize.sm,
          fontWeight: fontWeight.medium,
          lineHeight: lineHeight.tight
        }
	  }
	  addUtilities(ne

[2020-02-25 14:54] ben-rogerson commented on #7
that's interesting, let me do some digging and I'll get back to you

[2020-02-27 23:56] tsaiDavid commented on #7
@ben-rogerson - just wanted to point out this would be useful in allow folks to utilize TailwindUI specific styles too!

https://www.notion.so/Tailwind-UI-Documentation-f9083ed0e2694690ac89253e88afb2b6

[2020-02-28 03:13] ben-rogerson commented on #7
@tsaiDavid Expect a Twin release within the next few days - I'm aiming to have plugin support in there 👍

[2020-03-01 12:02] ben-rogerson commented on #7
Okay guys, we now have support for custom utilities in your plugin section in `twin.macro@1.0.0-alpha.6`.
Full support for Tailwind plugins will take a lot more time to get working.

[2020-03-01 12:29] denvash opened #9 "Cannot use macro in codesandbox"
Trying to check the library in [a codesandbox](https://codesandbox.io/s/cra-tailwind-emotion-starter-bi1kx) leads to error, also not works [on my own example](https://codesandbox.io/s/twinmacro-example-nwdl9).

[code]

Only works from `1.0.0-alpha.4`

[2020-03-01 13:26] rluiten opened #10 "How might I get twin.macro styles inline in dom markup?"
Thanks for this project.
I was pleasantly surprised to find this project to get tailwindcss into css in js space (after finding tailwind.macro and reading a lot of other stuff to get to twin.macro).

I have several years of React development experience but very little with css in js.
I was trying this out to get a feel for emotion css in js and nextjs.
I mocked up the small notification example fr

[2020-03-01 20:28] ben-rogerson commented on #9
Not quite sure how to fix this yet, it's working fine in the containerized codesandbox (the gatsby example) but the other two are having issues. I'll look into it.

[2020-03-01 20:42] ben-rogerson commented on #9
Seems to be working now, I needed to add a `empty.js` in the root folder, then refresh, then deleted the file again. I'm thinking there was an issue with CodeSandbox 🤷

Here's [your sandbox running 1.0.0-alpha.7](https://codesandbox.io/s/twinmacro-example-erfzu)

[2020-03-01 20:42] #9 closed

[2020-03-01 21:13] ben-rogerson commented on #10
No worries, here's a sandbox that shows how you could approach this:
https://codesandbox.io/s/cra-tailwind-emotion-starter-mjzn9

[2020-03-01 22:08] rluiten commented on #10
I was aware I could use style (which I didn't make clear in my post), doing that I lose benefits of using emotion for styling, like I cant use css features like `:hover` etc.

[2020-03-01 22:47] ben-rogerson commented on #10
True, style is only good for simple styling.
Have you tried the [css prop](https://emotion.sh/docs/@emotion/babel-preset-css-prop#usage)? It's available in a babel preset or as a jsx pragma.

[2020-03-01 22:57] rluiten commented on #10
I tried the `css` from `@emotion/core`.
Notice the `name` reference to get the class name out.

[code]

This doesn't work because the className that is generated does not have its style added, doing it this way does not register it as in use at a guess.

You mention jsx which I remember reading about but not trying.

I added at the top of the file.
[code]

Then created component this way
[code]

T

[2020-03-01 23:07] #10 closed

[2020-03-02 16:24] zcei commented on #7
Hej @ben-rogerson I should have read that those last messages earlier.

After solving this tiny number bug in #8 I was a bit hooked and discovered that `twin.macro` does not use `tailwindcss` to actually do it's job.
I think that's fine in the beginning, but parity with the tool it suggest to use would be nice.

So I had a bit of time during the weekeend and spiked potential solutions.
The first a

[2020-03-02 17:02] lukasluecke commented on #7
@zcei Sounds awesome! Thanks for your work on this 🚀

I had some of the same ideas regarding actually "running" `tailwindcss` but no time to work on it. Out of your proposed solutions I would be in favor of the 2nd one, if there is no issue with any of the most popular plugins (i.e. your 2nd "disadvantage" doesn't affect them).

[2020-03-02 23:55] zcei commented on #7
@lukasluecke I just looked on NPM and there seem to be quite some plugins. Do you have a list, or would be willing to create one, that I can turn into e2e dependencies? I have no clue which ones are really important to the ecosystem.

For context, I'm really not a design or CSS experienced person at all. This is why I like the rise of style systems so much: I don't need to know all of this as long

[2020-03-03 22:07] ben-rogerson commented on #7
Hey zcei, thanks for looking into this issue further.
I'd prefer the second option more also and I'm really interested in the idea of removing the need for the `./config` files and letting Twin rely more upon tailwindcss for parsing the tailwind config.
You mentioned you tried the idea with `custom-forms` - would you have any code to take a look at?

[2020-03-03 23:23] zcei commented on #7
@ben-rogerson it's the infamous weekend coding night messy state, but I think I could get a rough versions together towards the weekend.

Scope would be using `tailwindcss` core plugins instead of the config (but without inlined media queries for now, just as a stretch goal) and `custom-forms` as en example of a community plugin.

Those two things are basically solved together in there and kinda g

[2020-03-06 01:10] r6203 opened #11 "Gatsby caching issue"
Hey!

I'm using twin.macro within a Gatsby site.

My setup is basically the same as in the readme.

I've created a custom tailwind.config.js and changed a few colors.

However, the new colors are only picked up after I manually delete the node_modules/.cache folder.

I've got no experience in using Babel macros but shouldn't the cache be cleared -- at least -- when I restart my dev server?

Or how

[2020-03-06 20:12] ben-rogerson commented on #11
Hey Robin
You're right, the cache _should_ be cleared when you restart your server.

And ideally, you shouldn't have to restart during development. This will be tackled in one of the next versions of Twin. I'll be sure to test in gatsby to see if it resolves the same problem you're experiencing.

Cheers for giving twin a try :)

[2020-03-10 12:31] adrianjacob opened #12 "Theme is not defined"
Hi,

As an old user of tailwind.macro, first off let me say I love twin.macro. Thanks for the amazing work on behalf of the community.

I have used Twin successfully on a fresh project and its worked brilliantly. However, I am having issues porting an older/large site from tailwind.macro to twin.macro.

After fixing all the old class names, I get the following on every file during 'Gatsby Develop'

[2020-03-11 17:46] rbutera commented on #5
I'm down to help contribute to this, as I think that types here would be quite simple!

Can anyone find an example of typescript definitions for babel macros?

[2020-03-12 03:06] ben-rogerson commented on #12
Hey Adrian, thanks for the kind words.
I'm on holiday so it makes troubleshooting a little difficult, but at first glance it looks like the theme provider might not be sending the theme through to the FAQ component. You're also operating in a subfolder within components so there could be a path issue going on 🤷‍♂️

Let me know if you solve it! Otherwise posting a reduced test case could be a way f

[2020-03-12 21:05] Jfelix61 opened #14 "group class not found"
https://tailwindcss.com/docs/pseudo-class-variants/#group-hover

Is this class scheduled to be added?

[2020-03-13 00:20] ben-rogerson commented on #14
Group hover is available but perhaps it's not the same implementation as tailwind, could you confirm?
https://github.com/ben-rogerson/twin.macro/blob/925152ca39c2270584a2ae14aa1943369e4665a3/src/variants.js#L60

[2020-03-13 00:49] Jfelix61 commented on #14
![image](https://user-images.githubusercontent.com/21092519/76579495-cf159880-64a2-11ea-888d-c7ec395ab42a.png)

The app crashes since it does not find the class. It must be a bug then.

[2020-03-13 01:20] ben-rogerson commented on #14
Thanks, I'll take a look into it

[2020-03-15 13:46] remotealex opened #15 "How to handle conditionals/props?"
Hello! I'm loving this macro, thanks for your efforts 👍

I'm struggling however to find a nice way to handle logic within my components. Normally in styled-components I would pass a prop and add styles based on the logic:

https://styled-components.com/docs/basics#adapting-based-on-props

That doesn't seem to work with twin and I've still yet to find a nice way around it. Any suggestions?

[2020-03-15 13:58] remotealex commented on #15
This is what I'm doing at the moment. Adding extra classes:

![image](https://user-images.githubusercontent.com/15145964/76702826-f0ee6580-66c4-11ea-8aa7-012ed7ab0817.png)

[2020-03-15 13:59] gurjit03 commented on #15
Yeah thanks run into similar issues

[2020-03-15 14:23] pradel commented on #15
@remotealex I am using styled component and doing like this if it can help
[code]

[2020-03-15 14:49] remotealex commented on #15
@pradel Thanks for the snippet. I'd tried that but without the `css` macro. Seems like quite a heavy way to go about it. I'll stick with what I've got above for now I think 👍

[2020-03-15 15:53] ben-rogerson commented on #15
@pradel You could even shorten that example a tad to:
[code]

@remotealex looks like you’ve found a great way already there. Avoiding the null is possible too with something like this:

[code]

I’m thinking I’ll add more examples in the readme.

[2020-03-15 15:56] #15 closed

[2020-03-15 16:37] remotealex commented on #15
I'm switching to your first suggestion as my `styles` way doesn't support `hover` options 👍

[2020-03-20 15:21] adrianjacob commented on #12
I think its a non Twin issue as it works fine in all other projects - closing issue :)

[2020-03-20 15:21] #12 closed

[2020-03-20 15:23] adrianjacob commented on #7
Great work on getting 'addUtilities' live in Alpha 5 :)

Is there an eta for 'addComponents'?

[2020-03-23 10:17] theairbend3r opened #16 "Add installation for Next.js"
Hi Ben!

Amazing work!

Could you please add installation for Next.js? [Here's](https://github.com/zeit/next.js/tree/canary/examples/with-tailwindcss-emotion) an example setup for next+tailwind+emotion setup on Next's Github page.

As an aside; in the `create-react-app + emotion` installation, I saw the following -
[code]

What is `tailwindcss` here? Is it a `.css` file which contains the followin

[2020-03-23 10:49] ben-rogerson commented on #16
That zeit example needs to be updated.
I was waiting for a request on this, I'll add examples for emotion + styled-components 👍

It's the official Tailwind repo which is a dependency of Twin.
It's so you can import their "browser reset" file. The equivalent "non-js" way of adding it is: `@import "tailwindcss/base";`.

Perhaps a Codesandbox example will help here. I'll let you know when it's up.

[2020-03-23 11:03] theairbend3r commented on #16
Awesome! Thanks for the super quick reply!

I saw ` "Complete dev functions (production mode only at the moment)"` in the Roadmap on the README.md page. Does it mean the it won't work properly when I do `npm run dev`?

Also, about the last question (_Adding twin.macro+emotion to an existing installation of Next+tailwindcss_). Could explain in brief about how it would work? I am a little confused a

[2020-03-24 10:58] Djiit commented on #16
Hey guys, I'm playing with Next.js and Emotion too, but I cant get the tw attribute to work... Is there any additional step ?

[2020-03-24 12:54] semirart opened #17 "String interpolation inside tw macro doesn't work"
Hi!

I have a problem with string interpolation in tw macro.
For example I need to customize border color, so I'm trying to do it like this:

[code]

But I get the following error:
`✕ Class “hover:border-” shouldn’t have a trailing dash.`

It also doesn't work without variables:
[code]

[2020-03-24 15:15] rbutera commented on #17
I've run into this issue before. I think the only solution is to do something like this instead:

[code]
or you could do something like this

[code]

[2020-03-24 15:48] semirart commented on #17
@rbutera Thanks for suggestions.
Unfortunately, it's very inflexible solution, because we have lots of colors.
I wonder if we could make it work properly with interpolation.

[2020-03-24 21:39] skene opened #18 "CRA + Twin.Macro Component UI Monorepo"
To start off, I wanna say thank you @ben-rogerson for building this! I was in the process doing just that for tailwindcss 2.0 support but then came across this, so thank you.

Im in the process of setting up a monorepo with a CRA app + components ui library and I end up getting the following error when building the CRA:

`MacroError: The macro you imported from "undefined" is being executed outsid

[2020-03-24 22:44] ben-rogerson commented on #16
@theairbend3r Here's a brand new [Next + Tailwind  + Emotion Starter](https://codesandbox.io/s/next-tailwind-emotion-starter-8h2b2) to help out.

I've [updated README.md to be more descriptive](https://github.com/ben-rogerson/twin.macro/commit/fc3237a891a2536eec3c3ca1499b06dfb7c14309#diff-04c6e90faac2675aa89e2176d2eec7d8R695). You can use `npm run dev` and it will work fine.

When you run styled-c

[2020-03-24 23:00] ben-rogerson commented on #17
I think everyone comes across this limitation sooner or later.
It's because babel macros (the plugin twin uses) run before the interpolation occurs.

@rbutera has some good recommendations, especially with the generateBorderColor function. Otherwise, try using a combination of vanilla css and a theme provider to pass the tailwind config colours down into the component.

[2020-03-24 23:32] kingdaro opened #19 "Show all not found classes at once"
I change my tailwind config classes every now and then (maybe more than I should 😅), and the not-found errors help a ton already, but it'd be even nicer if the plugin could print all of the invalid class errors at once, instead of me having to go through the rhythm of saving and waiting for the next one.

[2020-03-24 23:57] ben-rogerson commented on #19
I'd prefer to show an error at a time as I think it's easier to focus on a single task rather than multiple.
Keen to hear some more views on this.

[2020-03-25 00:23] kingdaro commented on #19
I see "fix all of the invalid classes" as a single task, though. ¯\\\_(ツ)\_/¯

[2020-03-25 00:30] ben-rogerson commented on #19
haha I see what you mean. I've got 'finish website' as a single task too.

[2020-03-25 01:22] ben-rogerson commented on #18
I had a good crack at trying to get babel-plugin-macros to work from your components library but no luck.
I suspect that you need to get `babel-plugin-macros` working in your component library so it's compiled correctly with rollup before being imported into your app.

[2020-03-25 02:18] theairbend3r commented on #16
I just check out the codesandbox, it look amazing @ben-rogerson!

Thanks for the suggestion, I'll check out the source code in dev vs prod.

Yesterday, I came across this [blogpost](https://dev.to/brendanrc2/how-we-use-tailwind-in-components-f77) which uses tailwind to build components. In the blog post they demonstrate the following -

[code]

or with more customizations like -
[code]

If we use

[2020-03-25 02:56] ben-rogerson commented on #16
Yes, you're correct. I find it much easier to create elements with Emotion/Styled components.

Vanilla Tailwind creates all the css ahead of it's usage in your project from the `tailwind.config.js` file. This means that you'll need to strip out all the unused css with a tool like purgeCss to bring the filesize back down. By using a Twin, you'll only add the css that you use.
I enjoy using Emotion

[2020-03-25 07:22] theairbend3r commented on #16
Thanks for the speedy help @ben-rogerson! Appreciate it!

One final thing, how do we normalize the vendor prefixes? Earlier, I think postcss was doing that (autoprefixer). In this setup, how would we do that?

[2020-03-25 10:09] semirart commented on #17
@ben-rogerson I think it's not a babel-plugin-macros issue, because I couldn't find any such issue in their repo.

Also I see that it works properly here: https://github.com/vinhlh/tagged-translations#via-babel-plugin-macros

And maybe if function calls like `tw()` worked we wouldn't have this problem?

[2020-03-25 10:18] ben-rogerson commented on #17
Interesting, I think that's worth looking into for sure.

On Wed., 25 Mar. 2020, 8:39 pm semirart, <notifications@github.com> wrote:

[2020-03-25 11:20] vladferix commented on #7
Yes, now it is working pretty awesome in our project, looking forward to further support!

[2020-03-25 21:21] owaiswiz opened #20 "Transforms only work if applied after classes like rotate, translate"
`` tw.`rotate-90 transform` `` works as expected
however, `` tw.`transform rotate-90` `` doesn't work.

Seems anything set by `transform` isn't overridden later, so since `transform` already sets `--transform-rotate: 0`,  `rotate-90` is not applied. Same goes for all scale,skew, translate classes.
Also using `rotate-90!` does nothing.
It all only works if the order is reversed. TailwindCSS makes a

[2020-03-25 22:48] n00b2pr0 commented on #20
I'm noticing a similar behavior with classes compiling in reverse order.

Example:
[code]

[2020-03-26 10:16] Djiit commented on #16
Allright I can confirm it works ! Thanks !

Also tested : since Next.JS 9.2, you don't need next-css anymore ! Even simpler setup!

[2020-03-26 10:54] ben-rogerson commented on #20
Damn, those are some fairly huge bugs. I'll get them fixed up pronto. Big thanks for pointing these out!

[2020-03-26 19:10] kingdaro commented on #5
Is there any work being done on this? If not, I have some minimal incomplete typings that I wouldn't mind fixing up and making a PR for

The macro part isn't important, what is:

- Typing a tagged template function
- Typing all of the `tw.xyz` styled functions
- Typing the `tw` prop

[2020-03-26 20:07] rbutera commented on #5
Could you push these? I would love to learn from this and help you compete them

Sent via Superhuman iOS ( https://sprh.mn/?vip=rai@rbutera.com )

On Thu, Mar 26 2020 at 7:10 pm, Darius < notifications@github.com > wrote:

[2020-03-26 20:15] kingdaro commented on #5
@rbutera Pushed! #21 The types are already mostly complete, but comments/tweaks/improvements are always welcome 🙂

[2020-03-26 21:14] ben-rogerson commented on #20
I've put together [a test codesandbox](https://codesandbox.io/s/twin-ordering-test-fpjjz) on these issues and it seems to be ordering the margin classes correctly and the transforms work correctly.
To demonstrate the issue, it would be great if you could fork that repo in codesandbox and trigger the errors mentioned?

By looking through [the css tailwind builds](https://cdn.jsdelivr.net/npm/tailwi

[2020-03-26 21:52] owaiswiz commented on #20
To demonstrate the issue, it would be great if you could fork that repo in codesandbox and trigger the errors mentioned?

I saw the test sandbox. Downloaded it as zip and ran it manually on my local machine, the same issue happens (with a fresh npm install). Tried it on a different browser too, same thing. Have you tried running it locally ? If yes and it works, then there's probably something wro

[2020-03-27 02:20] ben-rogerson commented on #20
So strange, it's working correctly locally:

![image](https://user-images.githubusercontent.com/21288568/77714499-17978f00-7029-11ea-8e58-0316894d270e.png)

I also tested on these node versions just to make sure:

- v8.17.0
- v9.11.2
- v10.18.1
- v11.15.0

[2020-03-27 04:33] n00b2pr0 commented on #20
Thanks for looking into this @ben-rogerson!

The project I discovered this issue uses Emotion and Gatsby. I forked the `Gatsby + Tailwind + Emotion` starter and was able to replicate the issue: https://codesandbox.io/s/twin-ordering-emotion-test-7b472

<img width="1401" alt="image" src="https://user-images.githubusercontent.com/1446032/77721772-673a7400-6fb1-11ea-8850-3fdc496b541c.png">

I've dug

[2020-03-28 05:22] ben-rogerson commented on #20
I've made a [minimal bug reproduction here](https://codesandbox.io/s/gatsby-emotion-twin-ordering-issue-lgymn).

I've noticed different behaviour between node versions when installing the reproduction locally.

## Ordering issue present
[code]
![image](https://user-images.githubusercontent.com/21288568/77815379-84cf2100-710a-11ea-9da9-69b31931f987.png)

## Ordering issue gone
[code]
![image](https

[2020-03-28 14:41] owaiswiz commented on #20
I think I figured it out. It seems node switched to a stable sorting algorithm with v11 ( [#22754](https://github.com/nodejs/node/pull/22754#issuecomment-419551068), [Getting things sorted in V8](https://v8.dev/blog/array-sort) )

https://github.com/ben-rogerson/twin.macro/blob/2065f65fe2733f2b8a060b59ede43bd2f05a8ed2/src/screens.js#L27-L32

Over here for example, if I test this on node v10.18.1,

[2020-03-29 03:34] ben-rogerson commented on #18
Please let me know if you get your component library working (with tw) and I'll add an example to the readme.

[2020-03-29 04:34] ben-rogerson commented on #16
@theairbend3r

[Twin imports `tailwindcss/stubs/defaultConfig.stub`](https://github.com/ben-rogerson/twin.macro/blob/master/src/tailwindHelpers.js#L3) from the official `tailwindcss` package.

Twin uses the same code as Tailwind to combine the default stub with your own config. But there's not too much more shared code between the two packages. All variants for all classes are already available in

[2020-03-29 04:38] ben-rogerson commented on #16
I've added the new next.js examples to the readme so I'll close this for now.

If you have any questions about how Twin works, please create a new issue.
Try to keep on topic with the issue title as it'll help others find better-targeted advice in the future - cheers!

[2020-03-29 04:38] #16 closed

[2020-03-29 11:51] ben-rogerson commented on #5
Types are now up and running in 1.0.0-alpha.8 🎉
Thanks @kingdaro !

[2020-03-29 11:51] #5 closed

[2020-03-29 11:53] ben-rogerson commented on #14
This is now fixed in 1.0.0-alpha.8 🎉
I've added some extra group classes too:

- group-hocus
- group-focus
- group-active
- group-visited

[2020-03-29 11:53] #14 closed

[2020-03-29 12:07] ben-rogerson commented on #20
I've added timsort and it's working perfectly when installed locally in node 10.
But it's still [not working in codesandbox](https://codesandbox.io/s/gatsby-emotion-twin-ordering-issue-lgymn)? 🤷

[2020-03-29 15:34] owaiswiz commented on #20
working as expected for me
![ss](https://user-images.githubusercontent.com/16438034/77853257-e2de3000-7200-11ea-8552-5121fbb0f8e1.png)

[2020-03-29 18:25] skene commented on #18
Will do, i had some other business to take care of but ill get back to it sometime this week.

[2020-03-30 02:00] ben-rogerson commented on #20
`mb-0 mb-20` works, but this still doesn't (in Gatsby only):

[code]

[2020-03-30 02:19] #20 closed

[2020-03-30 04:36] aizkhaj opened #22 "Is there a way to get Tailwind UI to work with this?"
Apologies if this is rudimentary information, I'm new to the world of Tailwind CSS. Would it be correct to assume issue #7 is somewhat connected to having the ability to use `@tailwindcss/ui` (if it is considered a plugin)?

TailwindUI is an official product, a set of components built using TailwindCSS. In order to currently use it, there is a small adjustment that is needed on the PurgeCSS regex

[2020-03-30 08:39] rbutera opened #23 "TypeScript CSSObject as String error"
# tl;dr
If using `twin.macro` inside a Styled Components template literal you get typescript errors.

# Basic Example

[code]

then you get errors like these

[code]

# Complex Example
A more complex example:

[code]

gives you the error

[code]

[2020-03-31 08:53] ben-rogerson commented on #23
Thanks for alerting me to this, @kingdaro would you be able to lend a hand with this?

[2020-03-31 14:24] kingdaro commented on #23
It looks like Emotion's `CSSObject` type is too specific. `any` would work, but I wanted to keep some level of type safety and keep from using `tw` in a weird or unsupported way (like using it as `className`). I'll try to see what works better

[2020-04-01 13:00] adrianjacob opened #25 "Support for 'group' and 'group-hover'"
Hi,

Love twin.macro - amazing work!

We have noticed a small issue when trying to use 'group' and 'group-hover' tailwind utilities.

We get the following error message:

[code]

We tested the above with the following code (taken from tailwind docs)

[code]

Have you or anyone else come across this?

Thanks,
Adrian

[2020-04-01 13:21] rbutera commented on #25
You need a container element with className group I think?

[2020-04-01 13:41] ben-rogerson commented on #25
That's right:

✓ Good:
`<div className="group">`

✕ Bad
`<div tw="group">`

In Twin, you also have some brand new group states to work with:

[code]

In the latest version of Twin [I improved the feedback](https://github.com/ben-rogerson/twin.macro/commit/fe513e815dcddbdbd5b6768dc2b95b17ea2cd98c#diff-b869e1f14c673fbeb88d4b2cd413f4c2R25) if you try to use `group` like a tailwind class because it's

[2020-04-01 13:51] ben-rogerson commented on #23
I really appreciate you jumping on this so quickly, thank you.

[2020-04-01 14:03] ben-rogerson commented on #22
Without having used it yet (it looks pretty sweet) I'm not able to test.
I'm pretty sure it would be a plugin though and unfortunately, we don't have full support for them yet.

Feel free to [message me the installation instructions on Twitter](https://twitter.com/benrogerson) if  you'd like.

[2020-04-02 15:10] owaiswiz opened #26 "Placeholder utility not working as expected"
Just came across this yesterday, placeholder utility (ex. `placeholder-red-500`) does not work as expected. They instead apply the color property on the input element directly instead of the ::placeholder  pseudoelement.

Here's a [codesandbox ](https://codesandbox.io/s/twin-placeholder-utility-issue-u4kmw).

(I think it's because how they are defined here ?)
https://github.com/ben-rogerson/twin.m

[2020-04-02 16:31] aizkhaj commented on #22
@ben-rogerson your DMs are closed so maybe [message me](https://twitter.com/aizazkhaja) instead and I can send you the installation instructions?

[2020-04-03 23:28] rluiten opened #27 "Trying out plugin addUtilities noticed a few errors output in console"
I created an example sandbox forked from one I stumbled on that you created.
https://codesandbox.io/s/cra-tailwind-emotion-starter-4wkeh

My fork adds a plugin to tailwind.config.js then replaces the styling in App.tsx with the new "stack" class that the plugin implements.
When loading I see 4 errors reported in the console when you load it.
Everything appears to work correctly, just the errors co

[2020-04-04 11:02] rluiten opened #28 "Plugin style merge issues: Rules appear to be getting overwritten by 2nd class not merged into rules from 1st class"
Demo of a problem I am seeing.

I created a plugin for sidebar styling it is incomplete but I was seeing something that surprised me.
I am not certain this is a bug, but it's not doing what I expected, though possibly my expectations may be faulty.

Styles from two classes appear to be getting over written for a given style rule path "> *" rather than merged, so the 2nd classes styles for that pat

[2020-04-04 12:07] rluiten commented on #28
I just tested using `css` from `@emotion/core` to compose styles as follows.

[code]

The composedSidebar styles are as I would expect. the combination of both classes.

[2020-04-04 22:47] MMT-LD commented on #17
Personally this would be a huge benefit for using this plugin. I did take a look, however, my knowledge of writing babel plugins/macros is somewhat slim. I would imagine this is a small change. It might be worth looking at how emotion { css } prop works, as they have a function that get utilised via a macro (css) but is still able to be used as a function... super super cool

[2020-04-05 11:08] #25 closed

[2020-04-05 11:13] ben-rogerson commented on #26
Thanks for submitting this bug and for the perfect demo. I'll fix this bug up pronto.

[2020-04-05 20:28] MMT-LD commented on #17
Update: @semirart suggests  https://github.com/vinhlh/tagged-translations#via-babel-plugin-macros having played with this  ... so for quickness. I installed the tagged-translations macro .... added a folder to cra app called translations/default.json added `{
    "%s": "%s"
  }`
[code]
in another file...
[code]
and the output...

matched the correct string 'text-red-100 hover:bg-blue-200' so dynam

[2020-04-05 22:08] ben-rogerson opened #29 "Vue + Emotion + Tailwind Starter: babel-preset-css-prop alternative required"
I've put together a sandbox demo for using twin.macro in Vue and need some help.

I want to use a `css` function so I can write css alongside tw classes in a styled block.
I've got it working using `@emotion/babel-preset-css-prop` however there's a dependency chain that requires `react` to be installed 😱

 [🔥 Vue + Emotion + Tailwind Starter](https://codesandbox.io/s/vue-emotion-tailwind-starter-2

[2020-04-06 19:11] MMT-LD opened #30 "Issues pre-bundling twin components with Rollup and importing them"
Hey,

This may be a dumb question.

If i publish a package to NPM ... say button that i use this macro within and then publish. If i then import this package with the button would this still work?

for example...

[code]
nextjs site

[code]

should that work or am i missing the point the macros in that it is only compile time... I use rollup for button example

[2020-04-06 22:32] ben-rogerson commented on #27
Thanks for the bug report.

I've made a [reduced test case here](https://codesandbox.io/s/addutilities-kebab-case-issue-z79ij?file=/src/App.js). Still looking into why and where those errors are thrown.

[2020-04-06 22:39] rluiten commented on #27
Glad its of interest, it definitely raised an eyebrow when I saw the errors :).

[2020-04-07 09:12] nightgrey opened #31 "`Cannot read property 'name' of undefined` when passing {...props} to a component"
Hi!

I'm sorry if this has been documented somewhere. I couldn't find anything regarding to this at least. First, I love tailwind and I love twin.macro! ❤️ I love your work.

The issue is that everytime I create a component like this...

[code]
...this error happens:

[code]

What I found out is:
* When I remove `{...props}`, it works.
* When I use `css={tw``inline-block``}`, it works.
* It doesn'

[2020-04-07 09:13] rluiten commented on #30
I am not an expert, however your specific example won't achieve styles assigned to your button as a unique named style.
You will produce something like.

[code]

twin.macro at compile time converts `tw="classes string here>"` into `css={<styles object here>}`

You need to supply an alternate jsx handler that understands what to do with css=""
A simple example below uses @emotion/core jsx parse and

[2020-04-07 10:33] MMT-LD commented on #30
@rluiten|Thanks for the reply. However, my example prob was not the best. If i have a button component that works if i export it without using tw and just use the css prop all works, published to private verdaccio. But when i rollup this file with tw included and macros added to rollup it removes the tw macro from the imports and does not overwrite the string to the correct styles. this is in a mo

[2020-04-07 11:47] nightgrey commented on #31
Oh, it's actually a pretty easy fix. The problem is in `scr/macro.js`:

https://github.com/ben-rogerson/twin.macro/blob/27bd97600bd706f70068fa40ed6956dfff5ea6f6/src/macro.js#L103

When `p.node.name` doesn't exist, it crashes. The simplest fix would be to check for the existence of `p.node.name` before checking name. I'm gonna create a PR in a few minutes. 👍

[2020-04-07 12:54] MMT-LD commented on #30
So the result of my bundled package looks like this (use typescript and rollup)
as you can see where has tw import gone?

the below is this example from docs:
[code]
rollup transformation:
[code]

[2020-04-07 13:11] MMT-LD commented on #18
@ben-rogerson @skene Well i had that issue and for some reason "es5" in tsconfig.json bundle removes some elements and does not transpile #30 . If you swap to "esnext" in your tsconfig,json it will bundle correctly. Im not sure who's this issue lies with?? any thoughts??

[2020-04-07 23:03] ben-rogerson commented on #31
Many thanks for the PR @nightgrey - I'll take a look 👍
I'll aim to include it in the next version.

[2020-04-07 23:28] ben-rogerson commented on #30
Good question - "where did the `tw` import go?"
Twin does some tricky stuff during compilation time and actually swaps the `tw` import with `_styled` (that's why using `tw.div` works similarly to `styled.div`).

It looks like using the `typescript "es5"` transformation may cause Rollup to do some work before babel macros run.
Have you tried using a plugin like [rollup-plugin-babel](https://openbas

[2020-04-07 23:37] ben-rogerson commented on #28
Thanks for submitting this and for creating the bug reproduction.
That does look like some strange behaviour.
Have you tested `sidebarPlugin` works as you expect in regular `tailwindcss`?

[2020-04-07 23:38] #19 closed

[2020-04-07 23:46] #6 closed

[2020-04-07 23:49] ben-rogerson commented on #22
Further plugin discussion is happening in https://github.com/ben-rogerson/twin.macro/issues/7

[2020-04-07 23:49] #22 closed

[2020-04-07 23:54] rluiten commented on #28
No I haven't the result is very clearly that latter classes are top level field name merging only...

As if  { ...class1Styles, ...class2Styles } is being done in twin.macro.

I tried to dig through twin.macro source but didn't find where you are merging styles...

If you can point me at that or and possible a test  around that are I might be able to do a more complete recursive merge.

[2020-04-07 23:57] ben-rogerson commented on #18
It doe seem like the same issue is happening here.
Let's close this one and move the discussion to https://github.com/ben-rogerson/twin.macro/issues/30

[2020-04-07 23:57] #18 closed

[2020-04-08 05:39] ben-rogerson commented on #28
No worries - here's where the plugin processing starts https://github.com/ben-rogerson/twin.macro/blob/c75aec5afa093beed5778356a098d28902aa0d9d/src/utils.js#L114

[2020-04-08 09:33] reinvanimschoot opened #33 "CRA Typescript error when using tw prop on html elements"
Hi guys

Just started experimenting with twin.macro and after having followed all instructions for CRA/Emotion, I'm getting this error when trying to convert my first `className` to `tw`:
[code]

I'm using CRA with the typescript template.

Is there anything else I need to adjust?

Cheers

[2020-04-08 09:46] rbutera commented on #33
TypeScript support is pretty fresh. Only in the last alpha release.

Can you please confirm: The prop works as intended, it’s just typescript errors playing up right?

We’ve got a PR in the works to update typescript support: see #24

[2020-04-08 09:48] reinvanimschoot commented on #33
I can confirm it is typescript acting up.

[2020-04-08 09:55] rbutera commented on #33
In the meantime you can suppress these errors by doing something like this:

instead of

[code]

do this

[code]

basically you can use `tw.ELEMENT_NAME```

or using traditional styled-components syntax: `styled.button`${tw`bg-red-400`}` or `styled('button')`${tw`bg-red-400`}`

[2020-04-08 10:14] MMT-LD commented on #30
hey,

its pretty much the same as https://github.com/skene/cra-twin.macro-monorepo/blob/master/packages/components/rollup.config.js

so babel runs also.

TBH for my use case exporting as as "esnext" is ok because i would ideally like the consumer of the lib to determine what to do in terms of browser support etc. So mine will already be converted using twin behind the scenes and once the package i

[2020-04-08 17:07] rbutera opened #34 "add eslint, configurations, and add to precommit hook"
**Please Note:** I am willing to personally contribute this if @ben-rogerson approves.

# Motivation

twin.macro is gaining some traction and contributions are coming in from the community.

I think it would be wise to now enforce some code quality and increase stability through the addition of static code testing as a pre

# Steps to Solve

To achieve this I think that we should:

- [x] remove pr

[2020-04-08 22:43] ben-rogerson commented on #34
I think you're completely right here, it's time for Twin to further enforce code quality.
The eslint and husky settings seem okay at first glance.
It would be ideal if the prettier settings matched the current ones as much as possible.

I'm very happy for you to lead on this, thanks so much for offering 👍

[2020-04-09 08:13] thisisablock opened #35 "position/inset not detected"
hi @ben-rogerson , and thanks for your plugin.

trying to migrate vom tailwind-canary.macro to twin.macro. everything works except one thing.

1. positions not working for me

[code]

results in

[code]

in my config im not using inset

[2020-04-09 10:27] ben-rogerson commented on #35
Great to hear you migrated over to twin :)

I'm seeing the `top-0` class working correctly on [this demo](https://codesandbox.io/s/react-top-0-demo-ysluy?file=/src/App.js) with the code you've supplied.

If you still need a hand then it would really help if you post a minimal working example on codesandbox.

Thanks

[2020-04-09 12:00] rluiten commented on #28
I've had a bit of a look at that code, It looks to me like that's the logic that
loads the the plugin utilities and runs them to generate the styles into the overall tailwind config.
I don't think I made what I was chasing clear enough.

Given this example.

[code]

I was looking for the logic that takes the styles for each class passed to tw
and then merges them together into the output style for

[2020-04-09 13:58] thisisablock commented on #35
@ben-rogerson cool thx for the sandbox. i just checked my tailwind config and found the solution. the reason was my custom insets added to module.exports.theme.

adding that to module.exports.theme.extend. fixed the issues.

thx and Frohe Ostern!

[2020-04-09 13:58] #35 closed

[2020-04-12 09:51] kamontat commented on #11
Actually, This problem is come from babel macro itself, learn more [babel-cache-problem](https://github.com/kentcdodds/babel-plugin-macros#babel-cache-problem)

[2020-04-12 10:10] kamontat commented on #29
You might change `css()` to use only `styled()` instead ??

ref: https://codesandbox.io/s/vue-emotion-tailwind-twin-starter-cl1h9

[2020-04-12 10:20] ben-rogerson commented on #11
You're right, that's an issue that we can't solve right now.
tailwind.macro - the package twin was forked from, has the ability to pick up live tailwind.config.js changes without a build script restart. I removed that code and now I'm working on re-incorporating it.
Shouldn't be too long if all goes smoothly 🤞

[2020-04-12 12:21] ben-rogerson commented on #29
That seems like the best (and only 😆) option right now, thanks!

Worth noting is that because we aren't using the css prop, we need to use backticks to define our styles.
The array method (``styled('div')([`styles`])``) can't be used because that would require the `css` prop which isn't available to Vue like it is to React.

**👍 Backticks work**
[code]

**👎 Arrays don't**
[code]

Hope everyone is

[2020-04-12 12:21] #29 closed

[2020-04-13 06:38] #34 closed

[2020-04-13 06:38] #23 closed

[2020-04-13 07:08] ben-rogerson commented on #26
The fix will be in 1.0.0-alpha.9, closing :)

[2020-04-13 07:08] #26 closed

[2020-04-13 07:11] ben-rogerson commented on #31
This will be in 1.0.0-alpha.9, closing

[2020-04-13 07:11] #31 closed

[2020-04-13 07:55] ben-rogerson commented on #26
Here's [your demo](https://codesandbox.io/s/twin-placeholder-utility-issue-et1yc?file=/src/pages/index.js) working in the new twin version.

[2020-04-13 09:08] ben-rogerson commented on #7
Sorry no eta yet - I'll keep you posted

[2020-04-13 11:18] ben-rogerson commented on #33
Typescript errors were fixed in twin@1.0.0-alpha.9
Closing this one up now 👍

[2020-04-13 11:18] #33 closed

[2020-04-13 17:29] kingdaro opened #37 "Support live-reloading of tailwind config"
Right now, I need to restart the webpack dev server whenever I make a change to the tailwind config. It'd be nice if I could make a change in the config, and those changes would be reflected without the need for a server restart. Making the issue here, though I'm not sure if this issue is best fixed someplace else

[2020-04-13 20:56] ben-rogerson commented on #37
Hey daro, yeah that's annoying. I'm working on hot reloading the config right now 👍

<img src="https://user-images.githubusercontent.com/21288568/79160014-3d3dda00-7e18-11ea-977e-d72469f4803f.png" width="300">

From https://github.com/ben-rogerson/twin.macro/issues/11:

[2020-04-14 16:26] ben-rogerson commented on #17
thanks for the bump on this - I've taken a look into the tagged translations output.
In this test you can see that `t` doesn't support being used in a function:

[code]

I'm going to look at how the css prop can be used as a macro, hopefully that leads to something.

[2020-04-15 04:33] ben-rogerson commented on #17
I've takes a look at Emotions css macro and it's switching the css macro out with their runtime library when babel runs:

[code]

and if you're using it with css (I've stripped away their dev stuff):

[code]

Twin doesn't have a runtime (it compiles away when Babel runs) so this approach isn't a possibility.
Here are the same tests with Twin:

[code]

and with a class:

[code]

I'm open to further

[2020-04-15 08:37] damien-mcmahon opened #38 "Typescript support for extended Styled Components"
Hi,
I've been using the macro to extend components and have recently started also using Typescript and I'm getting errors from the `tsc` when using extended components:

So, this works in regular JSX:
[code]

but when it becomes TSX then I get this error:
[code]

The workaround for this is to import `styled` and call it like this:
[code]
Which is great for now but everywhere else I'm using `tw.div

[2020-04-15 10:04] rbutera commented on #38
attn: @kingdaro

[2020-04-16 13:46] MMT-LD commented on #17
Maybe i'm missing the point. But at the moment how would you support theming using this type of macro? For me id like to pass in dynamic tags to tw to make it something a bit more dynamic otherwise i may as-well just include tailwind manually and use their classnames. Im not saying this isn't a good macro as i can see its benefits when using it in for example emotions css selector.

The only thing

[2020-04-16 16:42] chrish-d opened #39 "Using props to add tailwind classes"
I'm trying to use props to add in some tailwind classes so that a component can pass down a particular colour and it gets picked up by tailwind and applied.

So I'm doing something like this `<MyComponent customColor="red" />` and then, using Emotion, I have something like this

[code]

But I get an error

Any ideas what I'm doing wrong?

[2020-04-16 17:07] rbutera commented on #39
Unfortunately, you cannot use string interpolation inside a `tw` tagged template literal

Please see #17 and the workarounds talked about in that issue

[2020-04-16 20:02] oorestisime commented on #22
Hey, sorry to comment here, read the other issue but i couldn't find a clear answer on this. Is TailwindUI compatible in the end with the recent alpha releases of this?
I don't have the instructions, i am considering buying it but i ve already worked a bit my structure with twin.macro

[2020-04-16 21:21] #39 closed

[2020-04-16 21:41] ben-rogerson commented on #22
Twin doesn't support [addComponents](https://github.com/tailwindcss/custom-forms/blob/master/src/index.js#L63) in plugins and at least one dependency of TailwindUI (@tailwindcss/custom-forms) is using them.
I hope to add support in the future, but not sure when that will be - sorry!

[2020-04-16 22:36] ben-rogerson commented on #17
Yeah, your library components should be pre-generated.

I understand you're seeking a more dynamic way of passing Tailwind through but I currently don't know how that would be possible with Twin.
There's a couple of ways you could then restyle your lib components (but I'm not saying it's pretty 😄 ):

[code]

[2020-04-16 22:46] ben-rogerson commented on #28
Take a look at `classListOrdered.reduce`: https://github.com/ben-rogerson/twin.macro/blob/628799bc0edc2183dec8e83ce73a196639a8d8e8/src/getStyles.js#L24

[2020-04-17 03:50] kingdaro commented on #38
I don't really feel personally motivated to implement this. Firstly because it's not documented(?), and ideologically, I feel like using this a lot would lead down an inheritance-heavy path over that favoring composition. An example in case I'm unclear:
[code]
There are ways around the diamond problem I've pointed out, but with the alternate path here, it's something I don't even have to think abo

[2020-04-17 07:40] oorestisime commented on #22
Sorry not really sure if this makes sense but i tried adding tailwindui thinking that if i don't call addComponents it would work (i can wait for addComponents).

so in my tailwind i added:
[code]
and got:

[code]

Same if i try to
[code]

I guess i am doing something entirely wrong, and forgive me i am fairly new to tailwind actually :D

So i am wondering whether there's way to get the new utilit

[2020-04-17 12:15] corysimmons opened #40 "Why isn't .container supported?"
Super curious what the technical hangup was on that.

[2020-04-17 12:34] ben-rogerson commented on #38
Thanks for your thoughts on this Daro.
I agree with your Tailwind alignment points and thanks for alerting me to the lack of documentation on the component wrapping.
I use component wrapping on the regular and actually don't go past a single level 😮
I'm planning to create some TypeScript demos in the future and it would be great to add typescript support for the feature without the workaround.

[2020-04-17 12:44] ben-rogerson commented on #40
Not much of a story, just haven't had the chance to do it 🤷

[2020-04-17 12:49] ben-rogerson commented on #40
I think we just need to generate a js object of this from `screens` in config:

[code]

[2020-04-17 15:58] vincent-vieira opened #41 "Falsy values in tailwind config trigger class not found"
Hello there,

First of all, thanks for this library. Even though it's still young, it is showing promising things and I'm eager to see future releases !

I'm posting due to a weird issue I'm encountering on my GatsbyJS project.
I have setup a project as stated in the docs, and am using Twin with Emotion.

I've customized the "inset" section of my Tailwind theme as is :
`    inset: {
      '0': 0,

[2020-04-18 01:22] ben-rogerson commented on #41
Great to hear you're enjoying twin! - Aside from the bug you've found anyway 😄

I haven't seen this specific bug before but I am aware of some caching issues, [particularly in Gatsby](https://github.com/ben-rogerson/twin.macro/issues/11).

I've made [a codesandbox attempting to reproduce the issue](https://codesandbox.io/s/twin-gatsby-cache-issue-8t22p?file=/src/pages/index.js) but haven't succeed

[2020-04-18 16:45] corysimmons commented on #40
Ah okay, no worries then. Just seemed weird that single class didn't work. Was just curious.

[2020-04-18 16:45] #40 closed

[2020-04-18 23:58] ben-rogerson commented on #22
@oorestisime I'm afraid there's no current support for tailwind UI - sorry!

[2020-04-19 00:00] ben-rogerson commented on #40
Decided to finally add support for `container`, it will be in the next version.
I'm also adding a `container-auto` class to automatically centre the container instead of having to add `mx-auto`.

[2020-04-19 08:52] oorestisime commented on #22
heheh ok fair enough :) i would have tried!

[2020-04-19 15:18] patrikarvidsson commented on #40
It is possible to override this in the tailwind configuration file, in case you missed it in the documentation: https://tailwindcss.com/docs/container/#customizing

[2020-04-19 19:42] vincent-vieira commented on #41
Hello,

Thanks for the quick reply !
I tested your suggestion by running the `gatsby build` command, the same error appears.

It was a little too long to readjust your sandbox with my project setup (missing Typescript support, for instance) so I've made available [here](https://github.com/vincent-vieira/twin-class-not-found) a basic reproduction of problem in a repository with the same configurati

[2020-04-20 04:22] ben-rogerson commented on #40
I did notice that, and that'll be supported too!
That configurable one adds padding. The `mx-auto` adds margins. Easy to confuse the two 👍

[2020-04-20 17:03] progexplorer24 opened #42 "Is there a way to compose tailwind.config.js file?"
Hey,
First of all thank you very much work the great work you're doing with this plugin!

I just wanted to ask if there is a way to compose tailwind.config.js file from partials.

Let's say I have 3 partial configuration files
[code]

[code]

[code]

And I would like to be able to compose final configuartion file using something like this inside my tailwind.config.js

[code]

Unfortunately every t

[2020-04-20 17:09] vincent-vieira commented on #41
I debugged a little, and got the issue.

The inset config for zero value should be `'0': '0'`, not `'0': 0`. Otherwise, the lookup in the `macro.js` file, line 2118 will fail as the '0' config value as a number, extracted from the classParts will be evaluated as a falsy value... This was this dumb lol.

I'll let you close the issue if you don't think it is necessary to add any safeguard 😊

[2020-04-20 17:16] rbutera commented on #42
Can you create a reproduction repository as without one this is hard to test.

As far as I am aware, there should be no issues with doing this but I may be wrong (@ben-rogerson?)

[2020-04-20 17:51] corysimmons commented on #40
Awesome! Dunno about adding _any_ new classes though. Bit of a smell.

[2020-04-20 18:18] progexplorer24 commented on #42
Thanks for the quick response:

Sure, here's a reproduction repository: [Tailwind conig issue](https://github.com/explorer-boilerplates/twin-macro-issue)

[2020-04-20 20:37] ben-rogerson commented on #40
I don't see it the same way, there's zero filesize added to your app until you use it

[2020-04-20 20:52] ben-rogerson commented on #41
Hey Vincent, thanks for looking into this and it's great you got to the bottom of it.
I think adding a value of 0 _should_ be allowed so I'll add a fix for this 👍

Were you able to trigger the error consistently?

[2020-04-20 21:05] vincent-vieira commented on #41
Apart from [cache issues](https://github.com/ben-rogerson/twin.macro/issues/11), yes !
Everytime I switch back from '0' or '0px' to 0 while clearing `node_modules/.cache` folder and restarting Gatsby server (due to [config livereloading issues](https://github.com/ben-rogerson/twin.macro/issues/37)), the error comes back.

[2020-04-20 21:25] ben-rogerson commented on #41
great, that'll help me out testing a fix - thanks so much for submitting the issue :)

[2020-04-20 21:38] ben-rogerson commented on #42
I was able to get this working by specifying the filetype on those requires in your `tailwind.config.js`:

[code]

But there are some other errors in that TypeScript repo after that.

When trying to use

[code]

I'm getting:

[code]

Is that something to do with TypeScript?
It's working fine in my non-typescript Gatsby tests.

[2020-04-20 21:48] ben-rogerson opened #43 "Twin + @compiled/css-in-js support"
There's a newer CSS in JS library, [compiled-css-in-js](https://github.com/atlassian-labs/compiled-css-in-js) released by Atlassian that's jumped up in popularity recently.

Is anyone interested in seeing how it can be used with Twin?

[2020-04-21 00:17] cmonteiro128 commented on #43
I would like to see this

[2020-04-21 05:13] ben-rogerson commented on #43
I agree there - I've got plans to add TypeScript versions of all the starters

[2020-04-21 06:39] progexplorer24 commented on #42
As a workaround I was able to get it to work by dropping the esmodule import/export syntax inside my partial files and use `.js` files instead of `.ts`.

 When I use `module.exports` to import objects containing configuration everything is working as expected.

Thanks again for your help.

I'm closing the issue because I found the alternative solution that satisfies my use case.

[2020-04-21 06:39] #42 closed

[2020-04-21 08:59] vincent-vieira commented on #41
If I can help you testing your fix, don't hesitate to sollicitate me :)

[2020-04-21 09:50] denvash opened #45 "Support Tailwind v1.4.0"
Tailwind had [a minor version update](https://github.com/tailwindcss/tailwindcss/releases/tag/v1.4.0).

I can handle it, tell me if you want help with a PR.

[2020-04-21 10:55] ben-rogerson commented on #45
That was super speedy Dennis!
Some help with the updates would be great.

Here's the new feature list - I'll keep it updated as the features roll out:

- [ ] [New `space` and `divide` layout utilities](https://github.com/tailwindcss/tailwindcss/releases/tag/v1.3.0#new-space-and-divide-layout-utilities)<br>Accepting help
- [ ] [New `transition-delay` utilities](https://github.com/tailwindcss/tailwi

[2020-04-21 11:05] ben-rogerson commented on #37
Heads up, I'm putting a freeze on this feature while I tackle [adding the features](https://github.com/ben-rogerson/twin.macro/issues/45) from the new Tailwind release.

[2020-04-21 11:36] denvash commented on #45
Cool, for starters I'll take "New space and divide layout utilities".

[2020-04-21 12:28] corysimmons commented on #40
Yeah I'm not worried about filesize—and I'm being nitpicky so feel free to ignore this—but when you add your own classes to a pre-existing lib, you add unpredictable stuff to it.

**Example scenario:** Someone knows Tailwind really well. They go to create a custom `container-auto` class like they always have, and maybe this class does different stuff than the one in twin.macro... Now they have a b

[2020-04-22 06:28] corysimmons opened #47 "npm bump please"
Hey Ben, Thanks for all your work on this lately. Really love it. Would you mind doing a version bump on npm? I was patching that container commit into it, but I'm having problems with the production build step. 😅

[2020-04-22 06:39] ben-rogerson commented on #45
Only three more features left :)

[2020-04-22 06:46] ben-rogerson commented on #47
No worries - Done!

I managed to squeeze in the new container updates from Tailwind in `1.0.0-alpha.10` too.

[2020-04-22 06:47] ben-rogerson commented on #47
I removed my new `container-auto` class, but added [support for container margins and independent left/right sizing](https://github.com/ben-rogerson/twin.macro/blob/master/tailwind.config.js#L11).

[2020-04-22 08:04] corysimmons commented on #47
Nice! Thank you! I'm new to Tailwind but https://tailwindcss.com/docs/container/#horizontal-padding looks like the standard way to tweak container. Is that what you're doing?

[2020-04-22 08:04] #47 closed

[2020-04-22 08:37] ben-rogerson commented on #47
No worries at all!

Yeah, that's one of the features Tailwind just released so it's been added to Twin now too.

But in addition to that padding, you can also add margins to the container at different screen sizes:

[code]

If you specify `container: { center: true }}` then the margins won't render and it'll center your container like normal.

[2020-04-22 09:10] corysimmons commented on #47
Very cool! Thanks for all your help Ben! Really enjoying using twin with this pattern:

[code]

[2020-04-22 10:41] ben-rogerson commented on #47
No worries Cory.

Have you also seen the array pattern? I like using it when there are either lots of conditionals or even just to remove the need extra `${}`'s:

[code]

[2020-04-22 18:55] corysimmons commented on #47
Yup, I'm using that pattern when I need to do a conditional (like you demonstrate).

btw, made with twin.macro: https://corysimmons.com :D

[2020-04-22 19:25] rbutera commented on #45
Crazy fast turnaround time on this issue

[2020-04-22 21:14] ben-rogerson commented on #47
Nice one, I think your site looks great. Using GitHub issues as posts is a fun idea I haven't seen before :) And I remember using LostGrid a long time ago, it was pretty neat.

[2020-04-23 04:11] olegafx opened #50 "Changelog needed"
It's not that easy to see what was changed between different releases.
I think that CHANGELOG.md would be a great addition to this project.

Thanks for your work!

[2020-04-23 08:18] ben-rogerson commented on #50
No worries Oleg, you make a very valid point.
This has been on my todo list for a while.
I hit the pause on it because of the text duplication with my Github release notes.

[2020-04-23 11:28] adrianjacob commented on #47
Nice work :)

I dont think adding

`corePlugins: { container: false },
`
Disables it as per tailwind docs?

[2020-04-23 12:52] ben-rogerson commented on #47
Cheers!
Those `corePlugin` settings really are so Tailwind doesn't generate certain styles upfront.
But Twin only generates css as its used so there's no real need for it :)

[2020-04-24 12:10] nightgrey commented on #17
Hey Ben, is interpolation still coming / do you have a solution for it?

If yes, is there a way to help?

[2020-04-24 18:33] aaronjensen opened #51 "TypeScript: error TS6133: 'tw' is declared but its value is never read."
If you use `tw` just as an element prop, TypeScript doesn't think it's being used if I have `noUnusedLocals: true` in my tsconfig.json.

I could disable this warning in TS, or `// @ts-ignore`, but is there a better way of dealing with it?

[2020-04-24 21:33] aaronjensen opened #52 "Payload size implications"
Hi there,

I really like the idea of twin.macro. I'm curious there if the ramifications to payload size have been considered at all. The nice thing about tailwind and other utility css frameworks is that you only have to pay the penalty of a utility class once, no matter how many times you use it. With twin.macro, it seems that the utility class is actually inlined everywhere it's used, which not

[2020-04-25 00:25] ben-rogerson commented on #51
Hey, there's currently no way of dealing with it that I can recommend.
If you find a way to disable the error for the `tw` import without a ignore comment, please let me know.

My plans are to allow usage of the twin `tw` prop without defining a default import:

[code]

[2020-04-25 00:33] ben-rogerson commented on #17
hey Nico, no solution yet.
I had a crack at it a week ago but didn't get too far.

Help is welcomed for sure - I believe [this is where to start](https://github.com/ben-rogerson/twin.macro/blob/4aec33b920a20db6e8305559d3ae2edddabf3aa0/src/macroHelpers.js#L152).
Previous experience with Babel plugins or traversing ASTs is a plus 😃

[2020-04-25 01:02] aaronjensen commented on #51
Ah, that'd be great, thanks. I'll let you know if I come across anything better.

[2020-04-25 02:29] ben-rogerson commented on #52
Twin doesn't handle any cross-component style de-duplication.
The main task is just converting Tailwind classes to CSS objects. Then you're in control of what you do then with the output.

I understand that your question needs to be asked as this is an important issue with CSS-in-JS.
Personally I've had no issues with duplicated styles contributing to excessive transfer/render times using Twin wit

[2020-04-26 09:32] yeungc opened #53 "Position class disappear when container applied"
Hello, the position class seems cannot place together with container.

Without container:
[code]
The position class is applied:
![1](https://user-images.githubusercontent.com/7931068/80303397-a511fe80-87e2-11ea-855d-dbe8a8a5206c.png)

With container:
[code]
The position class disappear:
![2](https://user-images.githubusercontent.com/7931068/80303361-7ac04100-87e2-11ea-870c-ae10db88306a.png)

[2020-04-27 08:18] ben-rogerson commented on #28
The issue is that the plugin output isn't being merged with the reduce accumulator. I'll add a fix for this next version.

[2020-04-27 19:33] aaronjensen commented on #52
A list of those resources would be great.

We're just kicking off a project and considering all of our options. I agree that it's very hard to discuss without a real example. I imagine some sort of synthetic example may not be sufficient either. It also greatly depends on the size of the site. If twin were used only as a replacement for classnames (that is, the prop, not the template string), then

[2020-04-27 22:54] ben-rogerson commented on #53
Thanks for the report.
There will be a bugfix in the next version due within the next week 👍

[2020-04-28 08:19] rbutera commented on #51
Perhaps we could look at how `babel-plugin-styled-components` implements the `css` prop?

[2020-04-29 16:45] yeungc commented on #27
@ben-rogerson May I know do you have idea about this issue now? Although it's just warning messages but still quite annoying.

[2020-04-29 22:12] ben-rogerson commented on #50
I've decided to stick with Github releases for now, you'll see what changed between releases there.

[2020-04-29 22:12] #50 closed

[2020-04-29 22:20] ben-rogerson commented on #27
Haven't worked this out yet, I'll take a better look into it after the next Twin version is out.

[2020-04-29 22:22] ben-rogerson commented on #51
Could be a good implementation to check out, I'll put it on the cards

[2020-04-30 04:15] ben-rogerson commented on #45
Adding support for these last three new features has been a challenge!

I've needed to add support for custom core plugins just like Tailwind.
This will make it easier to keep up with new Tailwind features in the future.

It shouldn't be too far away. I'm expecting 3-4 days.

[2020-04-30 14:25] kingdaro commented on #51
@aaronjensen This should work:
[code]

The `{}` will tell TS to keep it around when organizing imports, but also strip it from the final build. It's not necessary to import the `tw` symbol itself if you're only using the prop

That makes it work on the TS side of things, but based on https://github.com/ben-rogerson/twin.macro/issues/51#issuecomment-619289930 I'm not sure if twin actually respects

[2020-04-30 16:56] DaneEveritt opened #54 "Allow curly brackets to be used with the tw prop"
Hi there,

Loving the library, but hitting a weird snag that I've never seen before and searching around wasn't giving me much information.

Versions:
[code]

Given this code:
[code]

I'm getting the following error:
[code]

However, doing `<p tw="font-medium">Testing</p>` works fine. Is this by design, or do I have some weird thing going on with my project compilation steps? Ideally it would work

[2020-04-30 21:36] ben-rogerson commented on #54
Hey there Dane
You're right it's weird - it's because it's a Babel macro and you get to choose how it's can be used.
If Twin supported the curly braces then I think the "Why can't I pass a variable in there?" question will come up more often.

[2020-04-30 21:45] ben-rogerson commented on #51
Yeah, using empty curly brackets isn't going to work at this stage.
Perhaps twin should support that usage too?

[2020-05-01 00:45] DaneEveritt commented on #54
My knowledge of macros is basically none, but I think I follow you.

So in this case its just a known limitation of it? If thats the case no worries, I've been working around it by doing a slightly more verbose call using the `css` macro for styled-components.

```css={[ tw`class` ]}```

[2020-05-01 07:57] ben-rogerson commented on #54
Yeah, the `tw` prop has some pretty strict usage at the moment.
I'll update this issue into a feature request. Perhaps there are a few people that would like this changed?

Great you found a workaround, sorry it's not the best it could be.
I'll make sure I fix up that `'match' of undefined`error.

[2020-05-01 10:00] rbutera commented on #54
IMO we should keep it as is until the time that we are able to use variables, which I think would probably require us to solve string interpolation (#17) first.

In the interim, we should update the documentation and the error output to better communicate to users that the `tw` prop expects a plain string of Tailwind class names and that it does not support an expression contained in curly bracket

[2020-05-02 03:29] outerlook opened #55 "Is it possible to use to render on node-ts?"
Hi! Rather than an issue, I'm raising a question.

I'm experimenting with different ways to build my emails that are sent from an express server. I was using only [nodemailer](https://nodemailer.com/about/), then I started to look for templating languages, then I thought on using react, as I already have some experience with it.

I managed to send emails with it [(using sort of this solution)](htt

[2020-05-03 12:29] JohJonker commented on #17
Hi @ben-rogerson, thanks for looking into this. Interpolation support would be a game-changer for flexibility, even if just with a basic variable like the example you show above. Is this planned for inclusion soon, or is it better to fork for now?

PS. Twin is probably the tool that brings me the most developer happiness at the moment. :) Thanks for all your hard work!

[2020-05-03 13:17] rbutera commented on #17
If you can fork it and implement this ai think I speak on behalf of everyone and please submit a PR, Johannes 😃

Sent via Superhuman iOS ( https://sprh.mn/?vip=rai@rbutera.com )

On Sun, May 3 2020 at 1:29 pm, Johannes Jonker < notifications@github.com > wrote:

[2020-05-03 13:26] JohJonker commented on #17
Hi @rbutera, I was just referring to replacing the line like Ben suggested above. Unfortunately I don’t have any other insight into solving the issue. :(

Happy to try submit a PR changing the line as per Ben’s suggestion if he prefers that?

[2020-05-03 14:18] rbutera commented on #55
Interesting question! I've been doing some research and it appears to me that `styled-components` in combination with `twin.macro` and using `juice` to inline CSS properties
(https://github.com/Automattic/juice) will work for this use case.

[2020-05-03 14:20] rbutera commented on #55
@outerlook [check out this spectrum thread](https://hyperion.alpha.spectrum.chat/react/general/how-do-you-write-emails~f60d85ff-3154-4248-86c0-cb3cae65543f)

[2020-05-03 19:12] JohJonker commented on #17
@ben-rogerson I tested out the patch you suggested.

I thought I'd add a further data point. As you say, it works for simple variables. It doesn't seem to work for this use case, though:

[code]

I have some predefined styles stored as raw Tailwind classes (`styles`). The value hereof is equivalent to a simple variable definition (`styles2`). However, when I use this with the macro, it bombs out w

[2020-05-04 15:08] clement-buchart opened #57 "Comparison with tailwindcssinjs ?"
Hello,

Thank you for this great lib, I'm using it in a project of mine, it's been great.

I'm usually more of a backend developer, so please excuse me if the answer to my question seems obvious.
I was looking at https://github.com/aniftyco/awesome-tailwindcss and saw :

Which, to me, sounded similar to what twin.macro is doing.
So, out of curiosity, I checked out the repo https://github.com/Arthi

[2020-05-05 14:46] rbutera commented on #57
Hi @clement-buchart, great question!

The primary difference with tailwindcssinjs/macro is that this library does not use PostCSS to infer the classes.

As a result, we are able to focus on maximising the developer experience.

On this topic @bradlc, creator of the original `tailwind.macro` has said:

@ben-rogerson is actively looking at tailwindcssinjs and the PostCSS route to validate and verify

[2020-05-05 15:19] clement-buchart commented on #57
Hello,

Thanks for the answer, that's clearer for me now.
I guess, in some contexts or projects, being dependent on a third-party project that needs to catch up with tailwindcss release, and may be discontinued (like tailwind.macro was in a sense), may be an even worse developer experience, so it's great that there's an implementation of both 'solutions' out there !

I'll have a go at tailwindcssi

[2020-05-05 15:31] fknop commented on #57
Hi,

I may not have understood properly but what exactly is the impact on developer experience by using PostCSS?

[2020-05-05 23:12] ben-rogerson commented on #57
I think Brad means it would be slower to transform the Tailwind classes with PostCSS within a Babel Macro rather than with a custom transformer.
I'm not ruling anything out and I'd need to add a PostCSS route and perform some speed comparisons to know for sure.

@clement-buchart Thanks the recommendation - I've now added twin to [awesome-tailwindcss]( https://github.com/aniftyco/awesome-tailwindcs

[2020-05-06 18:10] bradlc commented on #57
👋 Yeah all I was getting at was that running a full PostCSS compilation every time you change your Tailwind config is always going to be slower. Whether it would be _too_ slow is perhaps up for debate. When building `tailwind.macro` **instant** feedback from config changes was a key goal. As far as I can tell both `twin.macro` and `tailwindcssinjs` don't support this, although I believe that @ben-

[2020-05-06 22:07] ben-rogerson commented on #17
I think it may be happening in `/src/getStyles.js:20`and it's failing because the string isn't being interpolated and getting passed as `undefined`.
I'll have a new version out shortly and I'll take another look into it shortly afterwards.

[2020-05-07 08:19] FredyC commented on #51
My solution is to get rid of `noUnusedLocals` and use ESLint instead for tracking unused variables which can be configured for exceptions.

[code]

[2020-05-07 10:41] FredyC opened #60 "Q: Why is emotion necessary with CRA?"
The top of the readme there is the following simple way which is absolutely amazing at a first sight.

[code]

Furthermore, there is also this sentence which would give me the impression that without conditionals I can use macro only.

Unfortunately, when I try that in a clean CRA project, the output I get is like this and that's where the magical feeling is kinda lost.

[code]

To make that work

[2020-05-07 13:07] rbutera commented on #60
You can use `styled-components` instead which has less 'ceremony'. Just follow the instructions for styled-components then you can do this

[code]

Note: the above syntax does work with emotion as well but you don't need to include the `/** @jsx jsx */` with styled-components which gives it a cleaner API IMO.

With the above import you can also do this

[code]

If that's more your speed.

You only

[2020-05-07 16:38] FredyC commented on #60
Thanks for the fast response

I followed instructions for styled-components which are pretty much the same as for emotion except `"styled": "styled-components"` for babel macros config. However, I am still getting the `css="[object Object]"` on the output. I am not sure how could do any difference.

[2020-05-07 17:23] FredyC commented on #60
Alright, I know what's been missing now. I need both these imports. It should be definitely mentioned somewhere.

[code]

It's one less line than with emotion but still feels somewhat weird to import two things that are not actually used in the file. **Why can't Twin do that import based on macro config?**

I am trying to weigh the options here. If I would go with the standard path of building Tai

[2020-05-07 17:33] rbutera commented on #60
You don't need to import { css } from styled-components/macro. I'm not sure why you're running into that issue.

Please see this repo: https://github.com/rbutera/greater-gatsby/ where I have a number of components which do not import anything from styled components. Maybe it will help if you see how that project is configured. Let me know if we should update our documentation on twin.macro

For ex

[2020-05-07 17:39] rbutera commented on #60
Ah. I've just seen that to use the `tw` prop you need to import 'styled-components/macro'. That's interesting. I never personally use twin.macro in that way so I gave you an erroneous answer there. Apologies!

[2020-05-07 17:45] rbutera commented on #60
My personal recommendation, seeing as you asked "Is there some better way I am simply not seeing?" I would recommend foregoing the `tw` prop when you don't want to add the macro import and using the normal css-in-js styled-components API.

The benefit of that is that you keep your component styling separate from your custom component logic. You can even reuse the same component logic with multiple

[2020-05-07 18:14] FredyC commented on #60
Thanks for the recommendation, but I am not a big fan of abstracting every little piece into a separate component. Ultimately, it creates a bigger mess than it solves imo. Of course, it makes sense for some frequently used parts, no argument there.

Consider this example I found somewhere around here. If I would be doing `tw.div` for each one of them then I am kinda losing a big benefit of TW - co

[2020-05-07 19:25] outerlook commented on #55
Thanks for your insight and research, @rbutera!
With this things I can work with react with no problem.

Well, what I will write below is more on curiosity, I think this issue is closeable, as on normal setups it would definitely work.

The only thing our team's developer is struggling to do, is to convert to use babel (with typescript) instead of ts-node to be able to use twin-macro. (I'm our tea

[2020-05-07 21:55] ben-rogerson commented on #60
Hey Fredy, thanks for letting us know about the docs issue. I'll adjust the docs.

Regarding Emotion and CRA, their Babel macro can't add a css prop for you so I demonstrated using the jsx pragma replacement in the starter.

You don't need to use the jsx pragma in CRA but it takes extra packages and extra setup.
The pain is that CRA doesn't let you extend their babel config by default so we'll nee

[2020-05-07 22:14] ben-rogerson commented on #60
Twin only performs the Tailwind class-to-css-object conversion.
This means you can add tw directly within a style prop without any other packages:

[code]

**But** that won't work for all css features, like hover, `&`, etc.

When you use `tw` prop, Twin performs the conversion and then "swaps itself out" for a css prop from css-in-js frameworks like emotion or styled-components.

[2020-05-08 06:38] impulse commented on #60
+1 to this. But even for commonly used components it would make more sense to me to just create a separate file and use the `tw` prop in combination with the `css` prop for conditional / unsupported styles. The styled-components way doesn't feel very tailwind-like to me. You basically are disrupted in your flow of getting idea on how elements are styled because you move it to another part of your

[2020-05-08 06:45] FredyC commented on #60
@ben-rogerson Thanks a lot for detailed explanations, makes total sense now.

I wonder if you are aware of some differences in the implementation of css prop with emotion and styled-components. Is emotion _superior_ in some way or is basically the same?

[2020-05-08 08:48] ben-rogerson commented on #60
@impulse I really like that Twin accommodates the two different styling techniques.
Many people enjoy keeping their jsx and styling separate and we both don't know enough of their situation to start recommending one over the other. Also, I haven't seen any huge trends towards using one over the other :)

@FredyC I'm not aware of the internals of either package so I can't comment on performance. I

[2020-05-09 10:59] th-km opened #61 "autocomplete"
I'm considering twin for a Gatsby project, however I really miss the tailwind intellisense. Any idea on how I can have a similar experience? I've tried the typescript-plugin-tw-template package, but it doesn't seems to work.

[2020-05-09 15:14] FredyC commented on #60
Ouch, just spent 10 minutes of head-scratching why I am again getting infamous `css="[object Object]"` when I already saw it working. Then out of the misery, I tried swapping imports and boom.

Only this works, no other way around 🤯

[code]

And on top of that, when I import `css`, the order suddenly doesn't matter.

[code]

That is is eerily fragile, I am almost scared to used that in the project

[2020-05-09 15:27] FredyC opened #62 "Improve debugging tw prop styling"
When `tw` prop is used, on the output we get for example `class="App___StyledDiv-sc-1r3ydil-0 ksfoHe"`. In a bigger tree, it's impossible to identify elements like that. I am aware that's a tradeoff of not naming components.

[code]

Unfortunately, React Devtools is not helping here either.

![image](https://user-images.githubusercontent.com/1096340/81477918-823c0d00-921a-11ea-9f2e-f33bfce08c77.pn

[2020-05-10 02:33] ben-rogerson commented on #60
I remember hitting this at one stage too.
I'll take a look at what's possible when I'm working on the macro next 👍

[2020-05-10 02:44] ben-rogerson commented on #62
This could help quite a bit in debugging when using the `tw` prop.
I wonder if any [settings mentioned in the styled-components docs](https://styled-components.com/docs/tooling#better-debugging) could help you out here?

[2020-05-10 05:28] FredyC commented on #62
Yea those settings won't really help. The `displayName` is enabled by default and you can see result above. I mean sure I get a rough idea about wrapping component, but in case it's more complicated logic then identifying elements in that component is tricky.

[2020-05-12 22:48] ben-rogerson commented on #61
@kingdaro might be able to help you with that one.

[2020-05-12 23:19] kingdaro commented on #61
@th-km Verify that the plugin is set up as stated in the usage section [here](https://github.com/kingdaro/typescript-plugin-tw-template#usage). If it's still not working for you, [open an issue](https://github.com/kingdaro/typescript-plugin-tw-template/issues/new/choose) with reproduction steps (project setup, etc.)

[2020-05-13 08:08] th-km commented on #61
@kingdaro I'll double check that, thank you.

[2020-05-13 11:49] theairbend3r opened #63 "Is there a way to use variables for colour names with emotionjs + twin?"
I have an array which contains key-value pairs as follows -

[code]
Now, I want to create a `<div> </div>` which has some base styles but it uses the bg-color from the above `colourTypeMapping` array.

For instance,

[code]

How do I complete the above component?

[2020-05-13 13:34] rbutera commented on #63
Please see issue #17

[2020-05-13 13:41] rbutera commented on #63
For reference - you can see this approach

[2020-05-13 13:42] #63 closed

[2020-05-13 14:04] ben-rogerson commented on #45
Heck yeah, full support is now in v1.0.0

[2020-05-13 14:04] #45 closed

[2020-05-13 14:06] ben-rogerson commented on #53
Fixed in 1.0.0 🎉

[2020-05-13 14:06] #53 closed

[2020-05-13 14:11] ben-rogerson commented on #54
There's now an error display for unintended usage in v1.0.0 🎉

[2020-05-13 14:12] ben-rogerson commented on #41
This bug was fixed in v1.0.0 🎉

[2020-05-13 14:12] #41 closed

[2020-05-13 14:13] ben-rogerson commented on #28
This should be fixed in v1.0.0 🎉

[2020-05-13 14:13] #28 closed

[2020-05-13 14:21] ben-rogerson commented on #52
Closing up this issue now 👋
I'm still aiming to compile those resources - let me know if you come across any you'd like to see 👍

[2020-05-13 14:21] #52 closed

[2020-05-14 18:35] denvash opened #64 "VSCode autocomplete extension"
After some tries, I couldn't make [typescript-plugin-tw-template](https://github.com/kingdaro/typescript-plugin-tw-template#usage) to work.

I've made a simple POC (using [VSCode API](https://code.visualstudio.com/api/references/vscode-api#languages.registerCompletionItemProvider)) for macro auto-completion.

![image](https://user-images.githubusercontent.com/27515937/81971536-e9e2c580-9629-11ea-9

[2020-05-14 22:10] ben-rogerson commented on #64
Hey Dennis, I'd love to give this a go - any code/package we can take a look at?

[2020-05-15 01:58] astroplex opened #65 "Please Change TemplateFn values type"
After 1.0.0 release.

It works like this ⬇️

[code]

![image](https://user-images.githubusercontent.com/2398863/82003327-0a973380-969b-11ea-895f-3532fc157193.png)

[2020-05-15 10:53] fvanwijk commented on #7
Since plugin support is still WIP, could you update the docs on what is supported and what not?
Maybe also add a list of "to do" items including links to GH issues.

Looks a bit misleading to me, since `addVariants` is not supported yet ;) At least, that is what I found out when I tried to use the [dark-mode plugin](https://github.com/ChanceArthur/tailwindcss-dark)

[2020-05-15 11:12] denvash commented on #64
You can play with [a minimal example](https://github.com/denvash/tailwind-macro-autocomplete-poc) (F5 to run it), I'll share the extension when uploaded to the marketplace.

[2020-05-15 12:22] ben-rogerson commented on #7
Yeah, I'll add some more details shortly about the current plugin support.
For the list of todos, take a look at [GitHub Projects](https://github.com/ben-rogerson/twin.macro/projects/1).

[2020-05-15 13:05] rluiten commented on #28
Awesome work thank you.

[2020-05-15 15:58] kevinsperrine opened #66 "[Feature] Support for nested group rules within styled-components"
I would like to use nesting of styled-components rules to apply group related styles; however, they get applied to the parent instead of the item they are nested within. I realize this may be a large ask, but I figured I would throw it out there. I've created an example repo here: [https://codesandbox.io/s/priceless-voice-31441?file=/src/App.js](https://codesandbox.io/s/priceless-voice-31441?file=

[2020-05-15 16:19] rbutera commented on #66
Hi Kevin,

Thanks for using twin.macro

1) your codesandbox seems to fail to load: `/src/App.js: Error: ENOENT: No such file or directory., '/empty.js'`

2) Could you clarify what your desired behaviour is here? I'm having an issue understanding what the issue is.

If you want to target the `<span>` directly, why use `group-hover`?

It seems logical, in my opinion, that `group-hover:` means "apply

[2020-05-15 16:45] kevinsperrine commented on #66
@rbutera Weird. I think it's working now, but the hover is two-fold. I added a hover effect to the whole H1 to change the background color, but I also want to target the span separately to change its color, too when the h1 is being hovered hence the group. [https://codesandbox.io/s/priceless-voice-31441](https://codesandbox.io/s/priceless-voice-31441)

[2020-05-16 00:19] ben-rogerson commented on #66
Using a combination of `group` and nested css selectors won't work.
I believe this is what's happening.

When you try nesting like this:

[code]

It "builds" the selector as:
[code]

When the correct selector should be:
[code]

So mixing sub selectors with `group-xxx` classes isn't an option 👎

But I've [forked your sandbox](https://codesandbox.io/s/compassionate-dew-04yxo?file=/src/App.js) and ad

[2020-05-16 00:26] ben-rogerson commented on #64
Let me know when you've got a dynamic version up - I'd be keen to try it :)

[2020-05-16 00:40] #55 closed

[2020-05-16 00:42] #60 closed

[2020-05-16 00:46] kevinsperrine commented on #66
Thanks, @ben-rogerson. I figured it was a long-shot. Thanks for the quick reply, tips, and the fantastic library!

[2020-05-16 00:46] #66 closed

[2020-05-16 00:52] #57 closed

[2020-05-16 01:15] ben-rogerson opened #67 "Plugin support"

[2020-05-16 05:29] FredyC commented on #60
I wonder why to close this? I don't see any docs update nor attempt to fix an issue outline in my last comment? Maybe I am just looking at the wrong place?

[2020-05-16 08:33] ben-rogerson commented on #60
The convo moved off-topic so I'll split this off as a separate issue.

[2020-05-16 09:24] ben-rogerson opened #68 "Strict import order with styled-components/macro"
When leaving off the import name with `styled-components/macro`, `tw` needs to be imported after:

[code]

If you import `css`, the order doesn't matter:

[code]

_Originally posted by @FredyC in https://github.com/ben-rogerson/twin.macro/issues/60#issuecomment-626190778_

[2020-05-16 11:20] astroplex opened #69 "Custom utility class not working on pseudo class"
[code]

![image](https://user-images.githubusercontent.com/2398863/82118447-82a44d00-97b2-11ea-8511-55eed05ce8ed.png)

[2020-05-16 20:39] yeungc commented on #17
Hi anyone, I got stuck with this issue too, the switch approach is good enough if we have only a few colors, but what if 20+ colors, or even 30+? The code will be super long and incompatible with reusing logic.

[2020-05-16 21:33] zaguiini commented on #43
I'm very interested in this. I'm actually even more interested on how to use the `tw` prop with `compiled-css-in-js`.

[2020-05-16 23:47] ben-rogerson commented on #17
You could try a style map:

[code]

[2020-05-17 17:19] owaiswiz opened #71 "Is there anyway to override tailwind config values directly while using instead of changing the file ?"
I know there is an API like ThemeProvider but afaik, it only works for reading values.

For example, If I wanted to override the color palette from a specific react component, such that all future references using `tw` to a color uses the modified color palette. Is something like that possible?

I guess a much simpler explanation to this would be - can I specify the path to the tailwind.config.js

[2020-05-18 03:00] ben-rogerson commented on #71
This isn't possible with the `tw` prop at the moment but here's what you could try.

I could imagine usage would be something like this:
`import { customPalette } from 'twin.macro'`

Then in your `tailwind.config.js`, you'd introduce a new entry, eg: `customPalette: { ... }`.

You'd then add some logic that works with the new import - just like the `tw` prop but also merges the `customPalette` ent

[2020-05-18 03:06] ben-rogerson commented on #69
This isn't supported at the moment.
For the time being, you should be able to add before and after directly into the definition:

[code]

[2020-05-18 03:24] owaiswiz commented on #71
Thank you very much for your help.

If I understand correctly. I'd still have to add the entry  `customPallete: {...}` to the tailwind.config.js that is referenced in  babel-plugin-macros.config.js right ?  That's what I am trying to avoid.

An example use case is: Imagine someone building a component library using twin.macro. All the colors used in this would be the default palette or as specifie

[2020-05-18 08:41] abhijithvijayan commented on #64
Wouldn't that require running a language server?

Currently I use https://github.com/bradlc/vscode-tailwindcss

That one doesn't support styled-components as well.

So the extension has to suggest within `tw` in `jsx` as well as within `styled-components`

[2020-05-18 09:01] denvash commented on #64
That's could be nice but its an overkill, currently that's works for me if I'll have spare time I'll make something dynamic.

[2020-05-18 09:10] abhijithvijayan commented on #64
Let me try yours.

[2020-05-18 09:13] abhijithvijayan commented on #64
Is your's limited to `styled` block?

any luck on `jsx`'s `tw=""` block?

[2020-05-18 09:25] denvash commented on #64
It's only limited for one lined tw``

[2020-05-18 10:05] abhijithvijayan commented on #51
It is not recommended to remove `noUnusedLocals` option in TypeScript as the main usage of it is not to allow building if unused local is found.

Relying on Eslint won't get that done.

The PR #70 seems to implement https://github.com/ben-rogerson/twin.macro/issues/51#issuecomment-619289930

Will this be merged any time soon @ben-rogerson ?

[2020-05-18 10:10] rbutera commented on #51
@abhijithvijayan

It will likely be merged in 1.0.1 - within the next week or so.

You can speed up the process by helping with testing

[2020-05-18 10:23] FredyC commented on #51
It will work if your CI runs tests & lint before building which is the pretty usual pattern.

Nonetheless, an unused variable is not an issue why build should fail. With tree shaking in place, it will be removed anyway from the resulting bundle. Not that it would matter in case of `twin.macro` at all since it doesn't have any runtime footprint :)

Ultimately, #70 will be a better solution, of cour

[2020-05-18 21:10] jesster2k10 opened #72 "Using tailwind directives?"
First of all, thank you a million for this amazing library.
I was wondering if it's possible to use tailwind directives inside the tw macro like `@screen` in particular? For complicated style types.

I'm using emotion + cra + typescript

[2020-05-19 02:26] ben-rogerson commented on #71
I see, well perhaps you could [modify this file](https://github.com/ben-rogerson/twin.macro/blob/master/src/utils/resolveConfig.js#L11) to go looking for the users custom config after it's retrieved the default config. Then you could look at merging the users' data into the library config? Not 100% sure about this - you'd have to try :)

[2020-05-19 02:33] owaiswiz commented on #71
Thank you very much. Yeah that is what I think would work best. Although I feel there might be some extra config needed on the user side, because if they have already installed the package, babel (if it is needed) by default would ignore all packages in node_modules. so even if it resolves I guess it wont be used and the already built components/files will be used, but yeah I am not sure either, I

[2020-05-19 02:33] #71 closed

[2020-05-19 23:52] ben-rogerson commented on #72
hey Jesster!

Twin doesn't have directives or it's own media query helpers yet.
But here's a way you could do it:
1. Get your [screen sizes from your config](https://codesandbox.io/s/cra-emotion-tailwind-twin-starter-bi1kx?file=/src/components/Theme.js)
2. Create a breakpoint function and supply with your screen sizes - [there's many ways you could set this up](https://dev.to/bidah/better-reusable

[2020-05-20 02:21] ben-rogerson commented on #61
Closing this now, feel free to reopen if you need.

[2020-05-20 02:21] #61 closed

[2020-05-20 02:26] #51 closed

[2020-05-20 02:42] ben-rogerson commented on #68
I've now added the `autoCssProp` config option in [v1.1.0](https://github.com/ben-rogerson/twin.macro/releases/tag/1.1.0) to avoid this issue.

[2020-05-20 02:42] #68 closed

[2020-05-20 02:43] ben-rogerson commented on #65
Fixed in [v1.1.0](https://github.com/ben-rogerson/twin.macro/releases/tag/1.1.0)

[2020-05-20 02:43] #65 closed

[2020-05-20 11:01] abhijithvijayan opened #73 "Why are so many things broken at once?"
In a `create-react-app` project using `TypeScript` and `styled-components`

After update to `1.1.0`

1.
[code]
=> console
[code]

2.a.
[code]

![Screenshot_20200520_161816](https://user-images.githubusercontent.com/34790378/82437784-9fdc6280-9ab5-11ea-8445-75ca82c4bedb.png)

OR

2.b.
[code]

![Screenshot_20200520_161816](https://user-images.githubusercontent.com/34790378/82437784-9fdc6280-9ab5-11e

[2020-05-20 11:19] abhijithvijayan commented on #73
OKAY. I figured it out.

There were breaking changes after `1.0.0`

the option `styled` changed to `preset` in https://github.com/ben-rogerson/twin.macro/commit/235f6152aee6fe7f8eb9af43f8ebc324eedc21da#diff-04c6e90faac2675aa89e2176d2eec7d8L452

[2020-05-20 12:37] ben-rogerson commented on #73
Hey just wondering, did your build break after the update?

Also whats `TwStyle`? Is that something you usually import?

[2020-05-20 12:50] rbutera commented on #73
@ben-rogerson TwStyle is the Twin typescript type

[2020-05-20 13:26] jesster2k10 commented on #72
Alright, I'll take a look at one of the approaches. Thanks for getting back to me quickly.

[2020-05-20 13:26] #72 closed

[2020-05-20 13:26] aaronbski commented on #38
+1

[2020-05-20 14:09] abhijithvijayan commented on #73
@ben-rogerson Then, I am pretty sure it broke somewhere.

When I switched to `preset` from `styled`, it worked.

The build broke(partially) even in `1.0.0`
By partial I mean, it worked initially with `css={[tw`some-class`]}` (`styled` in `babel-config-macros.config.js`)

But somehow failed when I use `tw="abc"`, and that too in `1.1.0`

I had no issues whatsoever in `1.0.0` in next.js version

Now

[2020-05-20 14:09] abhijithvijayan commented on #73
@rbutera indeed.

[2020-05-20 14:13] abhijithvijayan commented on #73
I will attach a reproducible example(if it still pops up) to this issue later.

[2020-05-20 15:48] tettoffensive opened #74 "Eslint telling me should be installed in dependencies, not devDependencies"
# Using Next.js + Emotion + twin.macro
Warning: `twin.macro' should be listed in the project's dependencies, not devDependencies.`

I'm actually a little confused, since the docs say twin.macro is a devDependency, but emotion is a dependency. And since I'm importing twin.macro into my code, shouldn't it be a dependency? Is eslint correct?

Thanks!

[2020-05-20 17:21] rbutera commented on #74
Hi @tettoffensive, thanks for using Twin!

This error comes from the eslint rule [import/no-extraneous-dependencies](https://github.com/benmosher/eslint-plugin-import/blob/master/docs/rules/no-extraneous-dependencies.md)

As you can see, generally if you `import` a dependency then it should be listed in your dependencies, not in your dev dependencies.

The [styled-components official docs](https:/

[2020-05-20 17:21] #74 closed

[2020-05-20 22:00] ben-rogerson commented on #38
I'm keen on adding this but not sure where to start.
Would someone like to submit a PR?

[2020-05-20 22:14] #73 closed

[2020-05-20 22:59] ben-rogerson commented on #73
@abhijithvijayan Thanks for the raising these issues. We've just added a fix in 1.1.1 to allow `TwStyle ` to be imported

[2020-05-20 23:01] abhijithvijayan commented on #73
@ben-rogerson Nice.

[2020-05-21 03:04] astroplex commented on #69
Thank you!

[2020-05-21 03:04] #69 closed

[2020-05-21 06:54] KieranO547 opened #77 "Importing in Typescript errors ts(2614)"
I finally started trying out twin (you recommended it on reddit a few weeks ago!) having issues starting up in typescript however.

I followed the installation guide for CRA, I've made two code sandboxes setting up:
Plain JS (Working): https://codesandbox.io/s/lucid-kapitsa-cjy3y?file=/src/App.js
TS (Errors): https://codesandbox.io/s/busy-moser-yxl7g?file=/src/App.tsx

As you can see the JS works

[2020-05-21 07:11] rbutera commented on #77
`tw` is the default export, not an exported member IIRC

[2020-05-21 07:14] rbutera commented on #77
We should update the typescript types definition to include {styled} and {css}, thanks for flagging these

[2020-05-21 07:34] KieranO547 commented on #77
Going off the docs shows a non-default tw export?
[code]

[2020-05-21 07:35] rbutera commented on #77
We should update the typescript types definition to include {styled} and {css}, thanks for flagging these

[2020-05-21 11:27] AlexanderArvidsson commented on #77
@KieranO547
To fix this, css comes from @emotion/core or your css-in-js library of choice.
Had this issue yesterday, all I had to do was this:
[code]
Although, it would be nice if the typings matched the documentation!

[2020-05-21 11:44] KieranO547 commented on #77
@AlexanderArvidsson Thanks! Didn't realise the default export was really all I needed lol, appreciate the help :) and thanks @rbutera + I saw the PR you're working on, much appreciated!

[2020-05-22 09:36] yeungc opened #79 "addUtilities is broken (unable to add responsive or hover variants)"
Hello! Responsive is now no longer work with addUtilities in new version of twin.macro.

I forked a codesandbox here:
https://codesandbox.io/s/next-emotion-tailwind-twin-starter-pehh1

[2020-05-22 12:54] rbutera commented on #38
It appears that emotion has an issue related to this that will be fixed in v11: https://github.com/emotion-js/emotion/issues/1823

Perhaps best to look at how v11 handles the types:

[code]

[2020-05-22 15:35] rbutera commented on #79
It appears that `hover` doesn't work either, interesting. Thanks for flagging this!

[2020-05-23 08:32] JohJonker opened #80 "Is :hocus still supported?"
I see `:hocus` was removed from README, but there are still references to `group-hocus` in CHANGELOG. Is it still supported? It doesn't seem to be working for me.

This works:
[code]

But this doesn't:
[code]

[2020-05-23 09:15] ben-rogerson commented on #80
Yeah, it's still supported but you can't use it within the css blocks.

It's a variant so you prefix your class names with it:

[code]

But I see what you're after in your examples is `group-hocus`.
Here's how you can use it:

[code]

[2020-05-23 09:26] ben-rogerson commented on #79
I'm working on a fix, thanks for letting me know.

[2020-05-23 10:32] JohJonker commented on #80
Ah, I see! I did note that it's possible to import `{ css }` from `twin.macro`, but I don't think that was what confused me. It just seemed so "natural" to use `:hocus` as a native pseudo selector that I forgot that it's actually Twin black magic.

Thanks for the group-hocus heads up! I misunderstood its function, but upon a second reading, I see it's exactly what I need. 👍

[2020-05-23 10:32] #80 closed

[2020-05-23 11:25] #77 closed

[2020-05-23 14:36] rbutera opened #81 "Fix addUtilities"
addUtilities was broken in 1.1 (or 1.0?)

This issue is an epic to track the related issues for this bug

[2020-05-23 15:05] rbutera opened #82 "Integrate PostCSS"
This issue is an epic to track PostCSS integration / custom plugin support for full compatibility with TailwindCSS

[2020-05-23 15:09] rbutera opened #83 "add full expression support for tw prop"
This issue is an epic to track integrating full support for expressions in the tailwind prop

As of the time of writing this issue, we have managed to integrate basic variables but the following example is currently unsupported:

[code]

[2020-05-23 22:47] ben-rogerson commented on #83
This is what is currently working:

[code]

[2020-05-27 10:14] MattixNow commented on #64
Hey It might be interesting to have autocompletion on the `tw=""` html elements

[2020-05-27 16:47] tettoffensive commented on #64
@denvash I installed the extension and restarted vscode. but I'm not seeing the autocompletion/syntax highlighting. Is there something I need to configure?

[2020-05-28 12:30] ben-rogerson commented on #62
I'm aiming to add this feature - exactly as suggested - to the next version.

Here's what you'll add to the config to enable it:

[code]

Sound good?

[2020-05-28 12:34] FredyC commented on #62
Is it necessary to be opt-in when it happens in DEV mode only? Perhaps provide opt-out option instead of someone finds it distracting?

[2020-05-28 21:58] ben-rogerson commented on #62
I wasn't sure how people would react to that - still thinking it over :)

Also, worth noting that with Emotion, you can [use the `css` function to "enable" source maps](https://github.com/emotion-js/emotion/issues/1235#issuecomment-549269824).
I haven't checked if it works the same with styled-components.

[2020-05-29 05:23] FredyC commented on #62
From my experience, when you add such debug feature as opt-in, most people won't even know about its existence unless it's a newcomer who actually read docs :)

I don't think SC has any debugging capability, I did not found any. But even the emotion variant doesn't sound that useful if we are talking about identifying `tw` decorated element.

[2020-05-29 07:15] ben-rogerson commented on #62
Alright - you talked me into it. I'll add it as an opt-out feature 👍

[2020-05-30 12:16] ben-rogerson commented on #62
Hey Daniel, the prop is now live in [1.3.0](https://github.com/ben-rogerson/twin.macro/releases/tag/1.3.0). Hope it works well for you!

[2020-05-30 12:16] #62 closed

[2020-05-30 12:17] ben-rogerson commented on #79
Hey @yeungc, the fix is now live in [1.3.0](https://github.com/ben-rogerson/twin.macro/releases/tag/1.3.0)

[2020-05-30 12:17] #79 closed

[2020-05-30 12:34] ben-rogerson commented on #54
Hey @DaneEveritt, curly brackets are now available in 1.3.0.

[code]

[2020-05-30 12:34] #54 closed

[2020-05-30 13:13] ben-rogerson commented on #81
Fixed in 1.3.0

[2020-05-30 13:13] #81 closed

[2020-05-30 15:20] FredyC commented on #62
I am not sure what are "potential upsets" really. How can someone be upset for easier debugging out of the box? Oh well, thanks anyway.

[2020-05-30 15:27] fvanwijk commented on #62
Well, I want to disable this feature in my production build so if it is opt in I definitely will set this value using an environment variable. So opt in would be a more logical choice.

[2020-05-30 15:37] FredyC commented on #62
@fvanwijk As I suggested above, it should be available in the development only. It's not needed in production so your argument is a bit off here :)

[2020-06-02 11:57] fvanwijk commented on #62
As I was replying on the email subscription directly I didn't check this before replying, so thanks for the heads up. It is a nice feature for developers :+1:

[2020-06-04 07:25] KieranO547 commented on #77
@ben-rogerson Can I confirm if this issue definitely closed? I've just upgraded to v1.3.0 and still see the same error in typescript when importing styled from twin.macro:
`import tw, { styled } from 'twin.macro';` gives "has no exported member named styled".

updated sandbox on v1.3.0: https://codesandbox.io/s/busy-moser-yxl7g?file=/src/App.tsx

Since I created this issue I've been following Alex

[2020-06-04 08:13] hmajid2301 commented on #17
Hi, is there any update on this ? What is happening with this issue ? Can I help out at all ?

[2020-06-04 10:59] rbutera commented on #77
@KieranO547

It appears that you've not followed the guide for annotating the TypeScript types for your chosen CSS-in_JS lirbary:

- [TypeScript + Styled-Components](https://github.com/ben-rogerson/twin.macro/blob/master/docs/styled-components/typescript.md)
- [TypeScript + Emotion](https://github.com/ben-rogerson/twin.macro/blob/master/docs/emotion/typescript.md)

Let us know if this resolves you

[2020-06-04 11:00] rbutera commented on #77
@KieranO547 regarding your hex value issue please create a separate issue as this one is now closed, or feel free to join us on the discord and discuss it there in the `#help` channel, thanks!

[2020-06-04 11:04] rbutera opened #85 "Link TypeScript instructions from main README"
The follow up query in issue #77 has demonstrated, in my opinion, that we've not been clear enough about the need for module annotation for TypeScript projects.

I propose, as a solution, that we link directly to these documents from the README.

[2020-06-04 11:18] KieranO547 commented on #77
@rbutera FWIW I didn't realise there was new documentation since I created the issue (I used the same code sandbox and assumed nothing changed) so thats why I hadn't followed the new instruction to add the declaration, I thought it was something you guys had added to the package. This is working for me now, thank you for your help! I'll setup another issue for the hex thing :)

[2020-06-04 11:30] KieranO547 opened #86 "Classes setting colour set RGB value but not hex"
Given a tailwind class to set a background colour like this:
[code]
If I set it via: `className='bg-off-black'` I get an output of this:
![image](https://user-images.githubusercontent.com/17687552/83750953-fc1ab700-a65d-11ea-836f-88e179c0437a.png)
This is correct as hex and rgb are applied.

Using the `tw='bg-off-black'` or using it in a styled-component ``${tw`bg-off-black`}`` prop
![image](https

[2020-06-04 16:59] 3sanket3 opened #87 "extended classes on the `tailwind.config.js` is not accessible in the code"
Here the codesandbox : https://codesandbox.io/s/gatsby-styled-components-tailwind-twin-starter-9wq56?file=/src/pages/index.js

I added `new` color as show below in `tailwind.config.js`

[code]

And expecting it to use as `text-new` class in one of the file let say `index.js` line 23

[code]

This throws error:

✕ text-new was not found

Am I missing something? Thanks

[2020-06-04 19:27] rawkode commented on #22
Don't suppose this is possible yet, @ben-rogerson ?

[2020-06-04 22:59] ben-rogerson commented on #86
There are issues adding the fallback IE11 hex values because duplicate keys aren't possible in javascript objects. eg, this would error:

[code]

So at the moment, unless we can work out another tactic, IE11 isn't supported by Twin.

[2020-06-05 02:04] 3sanket3 commented on #87
@ben-rogerson Replied this in Discord and the workaround works fine for me.

[2020-06-05 02:04] #87 closed

[2020-06-05 05:38] KieranO547 commented on #86
Ah okay, out of curiosity as I'm sure you've thought of it, is it not possible to make the hex the default value option as that'd give forward and backward compatibility? Is there some potential downside, or is it just not possible to adjust that?

(p.s. I may have to remove this from my current project as it's for schools and client needs ie support, but I am **loving** twin and will 110% be usin

[2020-06-05 10:06] alexhillel commented on #17
I remember when working with Vue, I could apply Tailwind classes to the `class` attribute of a custom component, and they would automatically get appended to the component's root element, creating a really powerful override workflow that sat really nicely with Tailwind.

I'm new to both React and twin.macro, so please correct me if I'm wrong - if I wanted a similar workflow using `className` I'd n

[2020-06-05 11:22] ben-rogerson commented on #22
I've been making progress and [have a demo up for testing](https://tailwindui-twin.netlify.app/). I just need to finish off the support for custom variants and I'll push a release.

[2020-06-05 11:37] ben-rogerson commented on #7
So I've been making progress on plugin support, shouldn't be too long now.
Here's the summary:

- [x] addUtilities(), for registering new utility styles
- [x] addComponents(), for registering new component styles<br/>Adding in the next release
- [ ] addVariant(), for registering custom variants<br/>Adding in the next release

- addBase(), for registering new base styles<br/>I don't think we need s

[2020-06-05 12:32] ben-rogerson commented on #86
Tailwind moved to using css variables for colors and backgrounds so they could support opacity.
So rather than stick with an old implementation (using the hex values), I moved Twin along with Tailwind.

Sucks to hear you can't stick with Twin in your project. I'm racking my brain for a solution but can't think of anything that's in the "nice to use" category :(

I'll definitely be updating the doc

[2020-06-05 12:42] KieranO547 commented on #86
I seeeee, okay cool not to worry! Before I remove I'm gonna try adding [css-vars-ponyfill](https://github.com/jhildenbiddle/css-vars-ponyfill) and see if I can just set the --bg-opacity to 1 (doubt I'll need the opacity set, and if I do I'm using styled-components so i can get around it). Otherwise I'm sure I'll see you again when I get to my next project where I will hopefully not be forced to su

[2020-06-05 12:42] #86 closed

[2020-06-05 22:01] ben-rogerson commented on #85
I think I'd like to have an index page for the typescript resources that the readme can link to:

So the flow would be `README.md > docs/typescript.md > docs/styled-components/typescript.md`

[2020-06-06 17:02] rawkode commented on #22
Amazing, @ben-rogerson ; great job!

[2020-06-07 18:12] laclance opened #88 "Possible to use with Laravel and typescript?"
I have tried many setups but these warnings when using with Laravel project running yarn dev and this error:

```app.js:151605 Uncaught TypeError: twin_macro__WEBPACK_IMPORTED_MODULE_1___default.a.div is not a function```

[code]

[2020-06-08 12:18] ben-rogerson commented on #88
Hey Laclance
Twin works with Laravel, here are the steps to the setup I successfully tested:

[code]

[code]

[code]

[code]

[code]

[code]

[2020-06-08 17:26] laclance commented on #88
Thank you, sorry should have mentioned that I am using typescript, however there is one thing from your example I have not tried, the `"autoCssProp": true`

[2020-06-08 17:39] laclance commented on #88
yup, same error, btw without ```  .webpackConfig({
    node: {
      fs: 'empty',
      module: 'empty'
    }})```
I get errors: `Can't resolve 'fs'` and `Can't resolve 'module'`

[2020-06-08 21:24] ben-rogerson commented on #85
I've added this to the next version 👍

[2020-06-08 21:24] #85 closed

[2020-06-08 22:31] ben-rogerson commented on #88
I've updated my setup with typescript above.

I'm getting these warnings too but not having luck getting rid of them.
I'm various issues, I'm seeing suggestions to filter them out with a webpack plugin.

Looking for help on this issue.

[2020-06-09 02:46] wispyco opened #89 "Can't change taliwind config"
I have the following config pointer to my tailwind.config.js file in my package.json

[code]

This is my tailwind.config

[code]

When using `min-w-3/5` I get a compilaiton error, but `min-w-3/4` works so I think my config file isn't getting picked up. I am running gatsby and have run restarted my server and run gatsby clean, to clear the cache. Not sure what to do to get this working.

Thanks

[2020-06-09 03:49] ben-rogerson commented on #89
Everything you've posted looks fine - here's a [working example with your setup](https://codesandbox.io/s/gatsby-styled-components-tailwind-twin-starter-xugkr?file=/src/pages/index.js)

There are some known issues with Gatsby and caching, but you can defeat the cache doing the following:

1. Make a new change in the component that's caching, this forces a fresh cache to be created

_or_

1. Remove

[2020-06-09 11:03] ben-rogerson commented on #17
@hmajid2301 I've halted work on it for now, but feel free to help out. Maybe jump in our discord to discuss sometime.
@alexhillel There are decent ways around interpolating classes, take a look at [this codepen that shows different ways your styles could be assembled](https://codesandbox.io/s/prop-example-kfhgd?file=/src/App.js).

[2020-06-11 19:44] yangkennyk commented on #27
@ben-rogerson I'm not sure if you pushed the fix up already but it looks like 'box-content' is triggering the kebab error as well.

![image](https://user-images.githubusercontent.com/6680040/84432133-3e557280-abe1-11ea-97b0-8135dfd1865d.png)

[2020-06-11 21:43] ben-rogerson commented on #27
Great find there, `box-border` and `box-content` will both throw that error - [I'll patch that up](https://github.com/ben-rogerson/twin.macro/blob/master/src/config/staticStyles.js#L11)

There doesn't seem to be any other kebab-cased properties.

[2020-06-11 23:03] ben-rogerson commented on #27
I've just pushed a patch for this in [1.4.1](https://github.com/ben-rogerson/twin.macro/releases/tag/1.4.1)
[Codepen demo without console errors](https://codesandbox.io/s/twin-macro-sandbox-ui50z?file=/src/App.jsx)
I've had a good look around for more properties with the same issue and we're looking clear!

[2020-06-11 23:03] #27 closed

[2020-06-12 08:19] screendriver opened #90 "tailwindcss as peerDependency"
What do you think about to declare [tailwindcss](https://www.npmjs.com/package/tailwindcss) as a `peerDependency`? With that I could use whatever version I want in my project and am not dependent on the version that `twin.macro` uses.

I could create a merge request if you want for that including updating the docs for the installation.

[2020-06-12 14:02] kmcaloon commented on #89
It's very strange. Even after cleaning cache and restarting sometimes the change don't show up. I have some custom utilities whose updates seem to never seem to show up on the frontend consistently.

[2020-06-12 16:51] Bowriverstudio opened #91 "Question regarding usage with react-spring"
Hello and thank you for this project.

In React-Spring I've got some syntax like:

[code]

With the repo - https://github.com/davecalnan/tailwind-config it seems like I could import the Tailwind colors but it has dependencies that conflict with my project.

Ideally, I'd like to be able to write something like:

[code]

Is this possible with twin.macro?

Best Regards

[2020-06-13 00:38] ben-rogerson commented on #90
Twin doesn't use too much of tailwindcss so I don't think it would be worth adding as a peer dependency.
The two spots in the code I'm using tailwindcss code is for initially processing your tailwind.config.js and for initially processing the user plugin functions.
With that in mind, do you still think there's a case for the change?

[2020-06-13 08:11] screendriver commented on #90
Oh, then maybe this is a miss understanding on my side. When I do a `import 'tailwindcss/dist/base.min.css` in my `gatsby-browser.js` it is the CSS file from "your" dependency. But when I think about a second time I just can install `tailwindcss` as a normal dependency in my project and it will then take this one, right?

[2020-06-13 15:16] ben-rogerson commented on #91
Hey there!
Yes you can style the spring values with tailwind classes.
[Here's a code sandbox demo](https://codesandbox.io/embed/spring-cra-emotion-tailwind-twin-starter-7sk36?file=/src/App.js)

[2020-06-13 23:39] ben-rogerson commented on #90
Yeah you got it, when you install the custom version, you'll then import from there:

[code]

[code]

[2020-06-13 23:46] ben-rogerson commented on #89
Do you want to post some code up? I can take a look at it for you.

[2020-06-14 06:40] screendriver commented on #90
👍

[2020-06-14 06:40] #90 closed

[2020-06-14 17:55] Bowriverstudio commented on #91
Thank you that is exactly what I wanted to accomplish.

[2020-06-14 17:55] #91 closed

[2020-06-18 08:22] KarelVerschraegen opened #92 "Export keyframes property"
Since both emotion and styled-components have a keyframes helper, would it be possible to export keyframes from within twin itself?

This would be in line with the `styled` export from twin.

**Current behaviour**
[code]

**Expected behaviour**
[code]

If pointed in the right direction, I'd gladly (try to) implement this myself!

[2020-06-19 02:17] derekbar90 commented on #30
Any future plans to provide a guide on packaging components with twin.macro?

[2020-06-20 06:10] ben-rogerson commented on #89
You could also try removing babel register:
`rm -rf ./node_modules/.cache/@babel/register`
[Source](https://github.com/kentcdodds/babel-plugin-preval/issues/19#issuecomment-513910643)

Caching is a [known issue with Babel](https://github.com/kentcdodds/babel-plugin-macros#babel-cache-problem) but it seems to affect Gatsby more than the other frameworks I've tested.

I'll close this issue for now,

[2020-06-20 06:10] #89 closed

[2020-06-20 06:45] ben-rogerson commented on #92
I think that adding the keyframe import would make a good feature.

If you'd like to have a crack at it, here are some tasks I can think of:

- [ ] Add [keyframe import presets](https://github.com/ben-rogerson/twin.macro/blob/master/src/config/userPresets.js) for emotion + styled-components
- [ ] Add the keyframe function replacement with babel-plugin-macros - you could copy and adapt the existing

[2020-06-20 07:02] ben-rogerson commented on #30
I haven't heard many requests for it yet.
Would you be interested in a TS or JS guide?

[2020-06-20 13:29] laclance commented on #88
I think the problem is babel macros do not work with ts-loader so I got it working with laravel-mix using babel-loader instead by using laravel-mix-react-typescript-extension.

[2020-06-20 13:29] #88 closed

[2020-06-20 15:56] derekbar90 commented on #30
TS as we went with twin.macro due to the typescript support. Right now due to the issues with rollup and other build tools we currently have code which is duped in many areas. If you have a multi client project then having a shared resource amongst the assets is vital. I came close the other day to achieving a bundle but I doubt I was in the right direction which is why I asked. I think if provide

[2020-06-21 00:49] ben-rogerson commented on #88
Nice one, after [reading this article](https://iamturns.com/typescript-babel/) it seems like the right way to go.

[2020-06-21 11:52] ben-rogerson commented on #88
As a side note - I just added a repo that shows how to setup [Twin + TypeScript + Laravel](https://github.com/ben-rogerson/laravel-typescript-react-tailwind-twin)

[2020-06-21 18:58] pix2D opened #93 "emotion + Next.js production build"
Hello, I am trying to convert from styled-components to emotion. In dev everything works fine.

When building for production everything builds fine (no errors), but when viewing the site half the styles are missing and upon viewing source I see things like `<div css="[object Object]">`.

I did some Googling and found a solution in some random emotion issue to add the following to the file when `cs

[2020-06-21 22:06] ben-rogerson commented on #93
It seems like the css prop is being added in development but not in production but that doesn't explain the css conflict during build.

I'll need a reproducible test repo so I can investigate further.

[2020-06-22 03:36] pix2D commented on #93
I will try to prepare one, it's a decently sized project so it may take a bit unfortunately. The annoying thing is that everything works fine with styled-components. I import css from twin.macro so the swap was quite simple in terms of code changes, but of course with a different result.

I tried to pull down the example just to confirm it works with the latest version of Next and I couldn't repro

[2020-06-22 13:05] vharvala opened #94 "Using custom CSS utilities with tw`` doesn't work"
I would like to define my own CSS classes using Tailwind utilities in my `tailwind.css` file e.g. like this:

[code]

But this results to `py-responsive was not found` error if used like this:

[code]

Have anyone managed to do something like this?

My stack:
- Next.js 9.4.4
- Tailwindcss: 1.4.6
- Twin.macro: 1.4.1
- Emotion: 10.0.27

[2020-06-22 13:52] laclance commented on #88
Cool thanks for your help and the awesome library :) Yeah I'm surprised Laravel hasn't switch to babel or added a way to do it, I guess they don't have enough typescript users yet.

[2020-06-22 22:11] ben-rogerson commented on #94
Twin as it doesn't use PostCss like Tailwind as it's in css-in-js territory.

You have a couple of options:

- Convert those utilities into a plugin and add it to your tailwind.config.js
- Add the styles to a variable which you could export and use around your app

[2020-06-23 03:04] wildfrontend commented on #94
so if we custom tailwind.config

we need to write tailwind className outside

like :

[code]

but  i think it will spread css design logic

have any good pattern?

[2020-06-23 04:29] ben-rogerson commented on #94
[Take a look at this demo](https://codesandbox.io/embed/responsive-pattern-example-y6n2r?fontsize=14&hidenavigation=1&module=%2Fsrc%2FApp.js&theme=dark) that shows you the preferred approach.

[2020-06-23 06:34] vharvala commented on #94
@wildfrontend yeah that is how I use it currently and you described the problem perfectly. It does spread the css design logic.

@ben-rogerson thanks for the clarification and options! Didn't think about the latter one so that might be the way to go. Thanks for the help 👍

[2020-06-23 06:35] vharvala commented on #94
I will close this issue since it is not actually an issue.

[2020-06-23 06:35] #94 closed

[2020-06-23 15:03] ben-rogerson commented on #43
Update: After hitting some compat issues [I've opened an issue with compiled-css-in-js](https://github.com/atlassian-labs/compiled-css-in-js/issues/222).

[2020-06-24 12:15] ben-rogerson commented on #30
Valid point, I'll see what I can put together on the topic.

[2020-06-25 00:57] Eriickson opened #95 "Habilite Pulge"
(Reactjs + Emotion + Tailwindcss) Pulge takes into account the classes that are added to the styled components (twin.macro) since they do not inject the classes directly, but instead compile the styles of those classes and then unify them into one  only class????

[2020-06-25 02:06] ben-rogerson commented on #95
Hey Eriickson, I'm not sure what "Habilite" or "Pulge" is and I don't quite understand this issue.
Could you please reword it?

[2020-06-25 10:54] fvanwijk opened #96 "Difficulties adding plugin with responsive styles"
I'm trying to create and use `fluidContainer` plugin with the following code:
[code]

When I use this class using `tw`, the default styles are applied, but for the 768 and 1440 breakpoints I don't see the rules being applied. I compiled them successfully using postcss into a css file, and with `className="fluid-container"` everything works, although obviously I don't want to use `className`. This

[2020-06-25 11:38] ben-rogerson commented on #96
Thanks for the excellent report on this issue frank, I'll take a look into it and get back to you.

[2020-06-25 12:53] fvanwijk opened #97 "richText config from Typography plugin not working"
I'm trying to configure the [typography](https://github.com/benface/tailwindcss-typography) plugin in Tailwind and use it through twin.macro. Accoring to the [plugin support](https://twin-docs.netlify.app/plugin-support) page this plugin is supported, but still I have some issues.

There are config keys for h1, h2, etc and they create utils that can be applied to style heading, for example:

[code

[2020-06-25 15:57] hmajid2301 commented on #17
I know this isn't a great solution but one possible one i've gotten around it using emotionjs and tw. Is doing something  like

[code]

Where the dynamic tailwind options are passed as props to `className`.

[2020-06-29 13:54] theairbend3r opened #98 "How to add custom fonts using twin.macro?"
I want to replace the default "serif" and "sans" fonts in Tailwindcss with another font. How can go about doing that? I'm using Next.js if it helps.

More specifically, where do I save the downloaded font and configure twin to use it?

[2020-06-29 16:01] theairbend3r opened #99 "Extended colour does not change on reload (Next.js)"
I'm trying to extend the theme. I want to add a new colour while using Next.js.
To install the libraries, I followed the instructions given in this repo.

When I first set a colour in `tailwind.config.js`, it works.
[code]

I save the file and use it as follows.

[code]

But when I change the colour in the `tailwind.config.js` as -

[code]

The changes do not happen on the page. I can still see th

[2020-07-01 00:04] #95 closed

[2020-07-01 00:09] ben-rogerson commented on #93
Check out this issue - they have mentioned some workarounds with Emotion + Next: https://github.com/emotion-js/emotion/issues/1237

[2020-07-01 00:09] #93 closed

[2020-07-01 11:56] ben-rogerson commented on #96
Hey Frank, just a quick update - I've located the issue and I'm working on a patch.

[2020-07-01 22:51] ben-rogerson commented on #99
This is fixed by making a change in your code to force a recompile - it's part of the caching in next.

I'm aiming to defeat this cache automatically in an upcoming patch 🤞

[2020-07-01 22:51] #99 closed

[2020-07-02 10:36] dgtlmonk commented on #64
+1

[2020-07-03 12:49] phil-scott-78 opened #101 "first-of-type variant?"
I was looking to use `:first-of-type` (and likewise `:last-of-type`, `:nth-last-of-type`, `:not(:nth-last-of-type`, etc) but I didn't see them in the default variant list nor a way to add the programatically. Just getting kinda sick of seeing this message pop up thanks to #emotion-js/emotion#1105.

Any chance they could be added in a future release? Of course I'm happy to submit a PR (assuming if

[2020-07-03 12:53] rbutera commented on #101
I'm happy to review the PR if you submit it.

[2020-07-03 12:54] rbutera commented on #98
@theairbend3r please see [Tailwind's official documentation on customizing fonts](https://tailwindcss.com/docs/font-family)

[2020-07-03 12:54] #98 closed

[2020-07-03 15:15] phil-scott-78 commented on #101
Thanks for the quick reply. Think I got things in order with #102

[2020-07-04 13:14] altusgerona opened #103 "`tw` inline attribute not working properly"
Hi, I'm working with the Gatsby starter app that's been configured with typescript. On the basic .tsx I have this snippet:

[code]
Both of them won't work with my IDE complaining that `tw` isn't a valid attribute. _However_, if I put a styled component (I'm using emotion) in the mix, the div with `tw` will suddenly work even though my IDE still complains about it being an invalid attribute.

Am I

[2020-07-04 16:58] altusgerona commented on #103
Ah my bad. To work with `className`s I need the postcss config option.

[2020-07-04 16:58] #103 closed

[2020-07-04 23:12] ben-rogerson commented on #97
Thanks for raising this issue too, I'm pushing a fix in the next version due shortly.

[2020-07-05 01:03] ben-rogerson commented on #101
Thanks for your contribution phil - it's now live in [v1.5.0](https://github.com/ben-rogerson/twin.macro/releases/tag/1.5.0)

[2020-07-05 01:03] #101 closed

[2020-07-05 01:20] ben-rogerson commented on #96
The fix for this is now in [v1.5.0](https://github.com/ben-rogerson/twin.macro/releases/tag/1.5.0) 🎉

I've made you a [fluid-container demo in CRA →](https://codesandbox.io/embed/plugin-patch-examples-3d7uk?fontsize=14&hidenavigation=1&module=%2Fsrc%2FApp.js&theme=dark)

[2020-07-05 01:20] #96 closed

[2020-07-05 01:38] ben-rogerson commented on #97
Hey Frank, the fix for this is up in [v1.5.0](https://github.com/ben-rogerson/twin.macro/releases/tag/1.5.0) 🎉

I've also made you a [rich-text demo in CRA →](https://codesandbox.io/embed/typography-plugin-rich-text-demo-6v8gz?fontsize=14&hidenavigation=1&module=%2Fsrc%2FApp.js&theme=dark)

[2020-07-05 01:38] #97 closed

[2020-07-06 08:02] fvanwijk commented on #96
Confirmed this fix works locally on my project. Thanks a lot! 👍

[2020-07-06 10:24] fvanwijk commented on #97
Thanks for improving typography plugin support.

I bumped twin.macro to 1.5.0 and replaced `className` with `tw`.
Due to some nasty caching in CRA/Storybook it took some time for the proper rich-text styles to appear, but now everything is fine 😬.

On a side note, I cannot define `'b, strong'` and `'i, em'` because then I get error:

So I have to define them separately.

[2020-07-06 11:09] ben-rogerson commented on #97
Yeah, the caching can be pretty annoying, I'm hoping to reduce it in the coming versions.

I'd say there's still some caching because I removed that single selector error message in v1.5.0.
If you haven't tried already, try [making a change in the code to force a recompile](https://github.com/kentcdodds/babel-plugin-macros#babel-cache-problem).

[2020-07-07 13:54] trkaplan opened #104 "extended colors (in object format) including a default color name gets replaced with the default colors value"
in tailwind.config.js if you define a color, with a name including a default colors name **in object format**, gets the value of the default color.
ie.
`module.exports = {
  theme: {
    extend: {
      colors: {
        'my-blue': {
          100: '#2200ff'
        }
      }
    }
  }
}
`
There is a class `blue-100` in tailwind default color palette. So when you use `my-blue-100` twin.macro uses

[2020-07-09 06:11] will-t-harris commented on #64
Just a heads up, the maintainer of [tailwindcss/intellisense](https://github.com/tailwindcss/intellisense) has an issue open for adding a configuration option to that vscode extension.

It seems to me that the path of least resistance would be helping out with [this](https://github.com/tailwindcss/intellisense/issues/129) issue.

[2020-07-09 13:52] A-Shleifman commented on #38
As a temporary solution we can declare a modified module:

[code]

[2020-07-09 18:12] timfee commented on #72
For anyone who ended up here, I ended up doing two things:

1. Using [`styled-breakpoints`](https://github.com/mg901/styled-breakpoints) alongside styled.nav:
[code]
2. Then, just writing the dang thing myself :)
[code]

[2020-07-09 21:50] ben-rogerson commented on #104
Thanks for the bug report, I'm looking into it 👍

[2020-07-10 23:23] ben-rogerson commented on #38
Thanks for looking into this - it all looks good at first glance. I'll aim to release a patch after some testing.

[2020-07-13 22:55] ben-rogerson opened #108 "@tailwindcss/typography doesn't work with Twin"
![image](https://user-images.githubusercontent.com/21288568/87361521-8f270500-c5ab-11ea-8a26-fea8751dba6d.png)

Currently, the [official typography plugin](https://github.com/tailwindcss/typography) is unsupported in Twin.
~~Support is possible but maybe I'll see how popular the plugin becomes before tackling it~~.
I'm working on a patch.

[↓ See Tim's post below for some temporary workarounds](ht

[2020-07-15 05:59] laurencejennings opened #109 "styling imported components through styled-components"
Hi,

I am not sure what I am doing is supposed to work with twin.macro and styled-components.

I have a component defined in one jsx file which I then want to import and modify in another component using styled-components and twin-macro. The code is as follows:

`PersonCard` component to be modified
[code]

`Chat` component to use a modified person card version:
[code]

The problem is that no matt

[2020-07-15 07:30] fvanwijk commented on #109
You have to pass through props such as className to the root element in ChatHeader.

[2020-07-15 07:50] laurencejennings commented on #109
thanks a lot, closing this

[2020-07-15 07:50] #109 closed

[2020-07-17 16:22] Vinlock commented on #38
Works great for me so far! Thanks!

[2020-07-18 03:05] lednhatkhanh commented on #108
I's really hope that this will be supported!

[2020-07-18 09:20] ben-rogerson commented on #38
I've [put up a PR](https://github.com/ben-rogerson/twin.macro/pull/110) if anyone wants to take a squiz before I merge.

[2020-07-19 04:14] ajitid commented on #104
Also functionality of picking up colors from `extend` of config seems to be broken. Either it doesn't picks up colors from `extend` at all or if it is able to recognize one of the defined color, as issue author said, reverts to an inbuilt one.

[2020-07-19 04:23] ajitid commented on #104
For me `extend`'s functionality for colors is completely broken, even if I define colors in plain string format. Either it does not identifies the color, or like author said, reverts to an inbuilt one.

[2020-07-19 04:42] ben-rogerson commented on #104
@ajitid could you please post your config that demonstrates the bug?
I'm finishing up with some features on the next release and then I'm tackling this bug.

[2020-07-19 04:56] ajitid commented on #104
[code]

---

Packages:

[code]

[2020-07-19 05:06] ajitid commented on #104
Oh sorry, I think I didn't restarted dev server so updated config wasn't picked up. Passing plain string does work, its what OP posted which isn't working.

[2020-07-19 22:27] ben-rogerson commented on #104
This match bug was fixed in 1.5.1 🎉

Feel free to reopen the issue if there's any issues.

[2020-07-19 22:27] #104 closed

[2020-07-20 08:49] arangates opened #111 "FOUC in Next + Styled Components + Tailwind Twin Starter"
it can be seen here https://codesandbox.io/embed/next-tailwind-styled-components-starter-m1f6d?module=%2Fpages%2Findex.js . Apparently it doesnt happen in emotion

[2020-07-20 12:33] ben-rogerson commented on #111
Ah yes I see it.
I haven't noticed that before but it's not a problem with Twin though - that's in styled-components territory.
Perhaps there's some config I can update to fix it in the demo though.

Issues:
https://github.com/styled-components/styled-components/issues/2322
https://github.com/styled-components/styled-components/issues/1472

[2020-07-20 21:50] ben-rogerson commented on #111
Fixed it - my demo was missing the server stylesheet.

https://codesandbox.io/embed/next-styled-components-tailwind-twin-starter-m1f6d?fontsize=14&hidenavigation=1&module=%2Fpages%2F_document.js&theme=dark

[2020-07-20 21:50] #111 closed

[2020-07-21 01:02] timfee commented on #108
This might be obvious, but for a workaround in the meantime, two workarounds:

1. Add `@tailwindcss/typography` to your project, then `import '@tailwindcss/typography/dist/typography.min.css'` to enable adding `className='prose'` to a prose container.

2. Add (the CSS CDN)[https://github.com/tailwindcss/typography#using-a-cdn] to your `<head>` to also allow a container to contain `className=prose`

[2020-07-21 03:26] ben-rogerson commented on #108
Thanks for sharing those great workarounds Tim.

I was planning on releasing support for the plugin within the next release (1.6.0) but there are still few bugs to iron out before then. So most likely it'll be added to the release afterwards, around the 29th of July.

[2020-07-21 20:37] JohJonker opened #112 "Some plugin classes not found when using tailwindcss >= v1.5.0"
After upgrading from `twin.macro` 1.4.1 ➞ 1.5.1 and `tailwindcss` 1.4.6 ➞ 1.5.2, I'm getting errors for my custom utilities defined in tailwind.config.js:

<img width="210" alt="Screenshot 2020-07-21 at 22 30 55" src="https://user-images.githubusercontent.com/4933686/88103855-dad84080-cba1-11ea-9fb1-34f00e09f0f7.png">

`@tailwindcss/custom-forms` doesn't seem to be working anymore, either:

<img w

[2020-07-21 22:49] ben-rogerson commented on #112
Howdy Joh,

There is is a breaking change in tailwindcss@1.5.0 affecting plugins: https://github.com/tailwindcss/tailwindcss/releases/tag/v1.5.0

Downgrade tailwindcss to fix:
[code]

This incompatibility will be fixed when we start supporting the typography plugin #108

[2020-07-22 01:27] ben-rogerson commented on #38
Update to 1.6.0 and all should be all good now 🎉

[2020-07-22 01:27] #38 closed

[2020-07-22 01:41] ben-rogerson commented on #108
There are some other plugin issues that appear when using the latest tailwindcss with twin so I'm aiming to fast track this issue.

[2020-07-22 07:15] JohJonker commented on #112
Hi Ben,

That fixed it. I'll follow the progress on #108. 👍

As always, thanks for your excellent help!

[2020-07-22 07:15] #112 closed

[2020-07-22 18:04] sotrustmtg opened #113 "twin.macro: Cannot read property 'name' of null"
I am getting this error on 'gatsby develop'
**Generating development JavaScript bundle failed**
**/project/src/pages/index.tsx: twin.macro: Cannot read property 'name' of null**
**File: src/pages/index.tsx**
**failed Re-building development bundle - 0.184s**

twin.macro v.1.6.0

[code]

[2020-07-22 18:55] sotrustmtg commented on #113
removing the theme-related items compiles just fine.

[2020-07-22 19:10] sotrustmtg commented on #113
removing the following from pakage.json resolved the issue also:
[code]

[2020-07-22 22:23] ben-rogerson commented on #113
Looks like the debugProp is causing some issues at the moment, it triggers an error when there's a `css` and `tw` on a single jsx element.
I'll patch that shortly.

In the meantime, turn off debugProp in your twin config:

[code]

[2020-07-23 09:19] ben-rogerson opened #114 "tailwindcss-custom-forms requires tailwind@1.4.6"
The tailwind plugin [@tailwindcss/custom-forms](https://github.com/tailwindlabs/tailwindcss-custom-forms) requires `tailwind@1.4.6` to resolve the classes.
Stay tuned for a patch on this shortly.

[code]

[2020-07-23 11:17] ben-rogerson commented on #113
[Fixed in v1.6.1 🎉 ](https://github.com/ben-rogerson/twin.macro/releases/tag/1.6.1)

Thanks for reporting the issue 👍

[2020-07-23 11:17] #113 closed

[2020-07-26 07:40] ben-rogerson commented on #114
Patched in [v1.16.2](https://github.com/ben-rogerson/twin.macro/releases/tag/1.6.2) 💥

[2020-07-26 07:40] #114 closed

[2020-07-26 08:22] ben-rogerson commented on #108
I've now added support for [@tailwindcss/typography](https://github.com/tailwindlabs/tailwindcss-typography) in [twin.macro@1.6.2](https://github.com/ben-rogerson/twin.macro/releases/tag/1.6.2) 🎉

I also made a [demo of the prose classes in twin.macro@1.6.2](https://codesandbox.io/embed/twinmacro162-tailwindcss-typography020-plugin-demo-dj9ot?fontsize=14&hidenavigation=1&theme=dark).
Resize the wi

[2020-07-26 08:23] ben-rogerson commented on #108
Closing this issue for now but feel free to reopen if something surfaces

[2020-07-26 08:23] #108 closed

[2020-07-27 02:43] j1mr10rd4n commented on #37
I might be able to help out with this. After doing some digging, would you agree the following is along the right track?
Looks like some progress is being made on watching ancillary source files for changes and triggering recompilation (see [Babel PR #11741 - Allow plugins to indicate dependencies on random files](https://github.com/babel/babel/pull/11741).

The PR hasn't been merged yet and I thi

[2020-07-29 03:59] ben-rogerson commented on #37
Hey thanks for picking up the thread on this.
I think a good solution would be one that would benefit everyone. Would this target people using webpack bundlers only?

[2020-07-29 16:44] arangates commented on #111
Hey @ben-rogerson Thanks for the amazing work🤩 works perfect!!! 🦾

[2020-07-29 18:58] tettoffensive opened #116 "Nesting groups in tailwind/twin?"
I was reading your [doc on groups in twin](https://github.com/ben-rogerson/twin.macro/blob/cb52e3fc1b9ce6700234e5a307f9b323f6e2f33b/docs/group.md) and I'm not sure if this is a limitation of tailwind or specific to twin.

I have a `<div className="group">` which on hover shows a nested `<button>` when the user hovers on that button I want to show a tooltip. I could do this with javascript,  but I'

[2020-07-29 22:03] ben-rogerson commented on #116
The group stuff has a limitation of a single group, you can't go nesting them because of the way the css is written.

But you can always drop back into css to add a hover that's more specific.
Here are two examples using css.

![hover](https://user-images.githubusercontent.com/21288568/88858188-cac20000-d236-11ea-83e6-88483075ea3e.gif)

[code]

You can see that using Styled Components has an edge

[2020-07-30 02:45] ianpullinger opened #117 "Gatsby build - ERROR #98123 WEBPACK Generating development JavaScript bundle failed"
My Gatsby project has suddenly started failing with the "ERROR #98123 WEBPACK Generating development JavaScript bundle failed" error being generated for all pages and components as part of building the development bundle. The error has also appeared on Netlify where the site is deployed.

## Error Log (gatsby develop)

...
verbose Transition to "runningQueries" > "writingRequires"
success write ou

[2020-07-30 03:14] ben-rogerson commented on #117
hey, thanks for including all that data on the issue.

Have you tried importing twin like this?

~~import { tw, styled } from "twin.macro"~~
[code]

[2020-07-30 04:04] ianpullinger commented on #117
Many thanks. I did a find & replace to and it now works! There must have been a change recently in something that caused it to suddenly fail.

`import tw, { styled } from "twin.macro"`

Once again, many thanks, I was starting to run out of ideas, and this would not have been something I would try as it was working before. I will close the ticket.

[2020-07-30 04:23] #117 closed

[2020-07-31 12:26] jesster2k10 opened #119 "Unable to get it to work with Rails/Webpacker"
Hey there, I've been using this library for sometime and it's been great. The setup has always been seamless and I've never ran into issues untill now.

I'm trying to setup the library in a sort of "non-typical" setting, being using Ruby on Rails and the [webpacker](https://github.com/rails/webpacker) gem.

So far, I've been getting random weird errors to do with the `babel-plugin-macros` and a co

[2020-07-31 12:26] jesster2k10 commented on #119
babel.config.js

[code]

[2020-07-31 12:32] jesster2k10 commented on #119
Update: I've looked at #88 and I'm not sure if that applies in this case since I'm using Webpack & Babel

[2020-08-01 21:11] rodolphoasb commented on #98
@rbutera Hey, could you give further explanations on how to do this? I'm using twin.macro with styled components. Do I need to change something inside next.config.js? I added the font inside public/fonts but can't get this to work. Already read the Tailwind documentation...

[2020-08-01 23:56] ben-rogerson commented on #98
I've used the next-fonts package to load fonts, perhaps take a look at that.

[next-fonts](https://www.npmjs.com/package/next-fonts) / [how to setup with styled-components](https://github.com/rohanray/next-fonts-example/tree/master/with-styled-comp)

[2020-08-03 21:08] ben-rogerson commented on #119
You can use Twin and TypeScript together.
It sort of looks like the css prop isn't enabled from your screenshot.

Could you upload a repo/codesandbox to demonstrate the issue?

PS: TypeScript starters are coming soon.

[2020-08-04 20:59] jesster2k10 commented on #119
Hey, so I actually figured it out. I was meaning to reply to this but I didn't get the chance. The issue was by setup was using `ts-loader` with wepback which doesn't play nicely with babel macros. The solution was simple, just to use `babel-loader` with `babel-preset-typescript` for my `.ts` files.

Everything worked as expected although I still get the weird `_source="[Object object]"` in my DOM

[2020-08-04 23:22] ben-rogerson commented on #119
Great you worked it out!
Yes, `ts-loader` doesn't play nice with babel-plugins, hopefully that changes in the future.

I'm seeing [some references within webpack to _source](https://github.com/webpack/webpack/blob/fdfaa2efa0b8ee2e6d0c55769696b3acb4047fb3/lib/NormalModule.js#L597), my guess - it seems to be something to do with the source map.

I'll close this now as I'm pretty sure that's not comi

[2020-08-04 23:22] #119 closed

[2020-08-04 23:23] ben-rogerson commented on #116
Closing this one up, feel free to ask a question if you're unsure of the group usage still.

[2020-08-04 23:23] #116 closed

[2020-08-06 02:06] tettoffensive opened #120 "How do I use plugins to set default list style?"
I'm using a third-party component which renders `<ul><li>Stuff in here</li></ul>` with no classes or id associated. I wanted to set the default list style that tailwind erases in base style to disc.

I tried doing this:

[code]

But I must be misunderstanding how to use these methods because this and everything I've tried have not worked.

Am I on the right track or way off? What am I missing? (us

[2020-08-06 08:21] ben-rogerson commented on #120
Try something like this:

[code]

You'd add the class (`tw="my-class"`) either on the component or a parent of the component.

[2020-08-06 18:22] tettoffensive commented on #120
@ben-rogerson This worked, but something funny is happening. I tried to add:

[code]

However, it wasn't showing up. Inspecting the CSS in the browser for some reason it's not there. It feels like a caching issue, but with very peculiar behavior because if I change the 'ul' to be decimal it still shows up as disc.

I'm restarting my server and I've also tried clearing the browser cache. But I have

[2020-08-06 20:48] ben-rogerson commented on #120
There's some Gatsby sized caching happening by the sounds, [try making a change in the code to force a recompile](https://github.com/kentcdodds/babel-plugin-macros#babel-cache-problem) if that doesn't work, delete your .cache and restart the server. #11

[2020-08-07 02:28] babsonmatt opened #121 "react-native support?"
Any consideration for supporting react-native as well?

[2020-08-07 15:23] tettoffensive commented on #120
Turns out to be an import issue. I had never used the syntax `tw="my-class"` before. Always did ```css={tw`my-class`}``` (because I didn't know about the former).

In either case, I must `import tw from 'twin.macro';` for the classes to be applied. I didn't notice because there's no complaint of missing import when using `tw=`

But when using `tw=` and `import tw from 'twin.macro';` TypeScript doe

[2020-08-07 15:24] fvanwijk commented on #120
You can do `import 'twin.macro` if you are using `tw` as prop instead of template function

[2020-08-07 15:26] #120 closed

[2020-08-07 22:43] ben-rogerson commented on #120
I recommend having a quick read through the [examples in the readme](https://github.com/ben-rogerson/twin.macro/blob/master/README.md). I'm also working on some guides for the [css prop](https://github.com/ben-rogerson/twin.macro/blob/d25b984a6f713ed96173e29cd49992fd4d783e78/docs/css-prop-guide.md) and the [styled import](https://github.com/ben-rogerson/twin.macro/blob/d25b984a6f713ed96173e29cd499

[2020-08-07 22:44] ben-rogerson commented on #121
I haven't tried it in that environment yet, what's the status?

[2020-08-08 11:58] Eriickson opened #122 "Add intellisense"
When I'm using your plugin it's a bit tedious to write tailwindcss classes, since I don't have any kind of help or autocompletion, is there any way to solve this problem, some kind of intellisense, and if it doesn't exist, when will you be adding it?

![image](https://user-images.githubusercontent.com/38663299/89709328-d5724880-d94c-11ea-8332-8a9eced74e2b.png)

[2020-08-08 12:06] ben-rogerson commented on #122
This is on the same line as #64

You can install this vscode plugin but it's not perfect. It doesn't cover all the unique features of twin:
![image](https://user-images.githubusercontent.com/21288568/89710069-199e3100-d9bf-11ea-95f2-bc49f4f069fb.png)

[2020-08-08 12:07] #122 closed

[2020-08-14 21:53] garrrettt opened #123 "Using the style attribute doesn't apply all styles"
I was pretty confused for a while about why variants such as `focus:` only work in certain places. Specifically, I was trying to use ``style={tw`focus:some-property`}`` and it refused to work until I changed my approach and used ``tw.button`focus:some-property` ``. I didn't find this info in the docs, so I was hoping you could add it to the README or something. I only realized after reading Issue

[2020-08-14 22:55] ben-rogerson commented on #123
Ah damn! I hoped the examples at the top of the readme would help demonstrate how twin can be used.
Apart from stating twin doesn't work with the style prop, what do you think is missing that would have helped you?

There are a decent number of demos linking off the readme to demonstrate the variant usage [on the logo](https://codesandbox.io/s/react-tailwind-emotion-starter-3d1dl?file=/src/compone

[2020-08-14 23:10] ben-rogerson commented on #123
I think you're right, I should explain that styling within the `style` prop will only apply basic styles.

[2020-08-14 23:13] garrrettt commented on #123
Oh interesting. The reason I was using the `style` was because I saw an example somewhere using it (perhaps unofficial). I'm new to Tailwind, so this is helpful information. So far, everything has worked with `style` (without using any variants), so I didn't realize there was a problem until now.

[2020-08-14 23:19] ben-rogerson commented on #123
Yeah all good - I totally understand how this could be confusing, especially if only some of the styles are seemingly working with the style tag.
I'm considering going heavy-handed on this by popping an error if tw is used directly on the style tag.

[2020-08-14 23:30] ben-rogerson commented on #123
For others stumbling over this issue.

This works with the style prop:
[code]

Css like this doesn't work with the style prop:
[code]

Solution:

Use the tw prop, the css prop or styled-components.

[code]

[2020-08-15 17:22] timfee opened #124 "Documentation to address [Next.js?] Type errors using css prop inline."
hey @ben-rogerson and friends!

I'm putzing around with Next.js and I got errors using the `css={tw``}` syntax:
[code]

  Property 'css' does not exist on type 'DetailedHTMLProps<HTMLAttributes<HTMLDivElement>, HTMLDivElement>'.

I followed [this guidance](https://github.com/styled-components/styled-components/issues/2528#issuecomment-509780963) (except in `twin.d.ts`) and it resolved the issue:

[2020-08-15 23:35] ben-rogerson commented on #124
Thanks for bringing this up Tim.
I have "adding css prop types to docs" in my todo list but the svg one is new.

After the changes, `twin.d.ts` should look something like this:

[code]

I'll perform some testing and those docs should be updated soon after, thanks!

[2020-08-16 00:44] vedantroy commented on #37
[That PR](https://github.com/babel/babel/pull/11741) adds an API to Babel's plugin system, which could be used in twin.macro. Out of the box, it benefits people who use Babel CLI's --watch option.

Consumers of Babel (Rollup, Webpack, etc.) would have to write integrations with that PR in order to reap the benefits.

[2020-08-19 20:28] fvanwijk opened #125 "'Module not found' when using twin.macro in MDX files"
I was just upgrading to Storybook 6 and the stories won't compile anymore. It looks like twin.macro is the culprit, but I'm not sure.
So, I created a new CRA project, added `tailwindcss`, `twin.macro`, `styled-components` and `typescript`. I copied over `tailwind.config.js`, the twin.macro config, and one simple `Badge.tsx` and `Badge.stories.mdx` file. Both of the stories files use some `<div tw=

[2020-08-19 21:05] ben-rogerson commented on #125
Those errors pop up when twin is run through the typescript compiler rather than the babel compiler.
You'll need to replace the typescript loader with babel-loader.
[Try this guide](https://dev.to/hmajid2301/how-to-use-storybooks-gatsby-babel-tailwind-typescript-together-23dp)

[2020-08-20 13:13] fvanwijk commented on #125
Thanks Ben, you're awesome as always.

I will look into it.
First thing I notice is that the [TS docs](https://storybook.js.org/docs/react/configure/typescript) say that `babel-loader` is already being used for React. However, since the errors appear only in MDX files, I suspect that the `react-docgen-typescript-plugin` is causing these issues. I hope I can configure it to use babel-loader instead

[2020-08-20 14:18] matthisk commented on #125
I found the issue. In Storybook 6.0 the `stories.mdx` files still use the `babel-loader`. However the loader now disables the `babelrc` configuration. This probably has the side-effect of not loading our `bableMacros` config from the `package.json`. When I remove the `babelrc` and `configFile` field from the webpack config, `tw.macro` works correctly in `mdx` again. I wonder why Storybook decided

[2020-08-21 06:13] ben-rogerson opened #126 "Support Tailwind v1.7.3"
It's time to bring twin up-to-date with [the latest Tailwind release](https://github.com/tailwindlabs/tailwindcss/releases)!

Here's the new feature list:

- [x] [~~Background-clip utilities~~](https://github.com/tailwindlabs/tailwindcss/pull/2168) + [~~Contents display utility~~](https://github.com/tailwindlabs/tailwindcss/pull/2023)
[PR added](https://github.com/ben-rogerson/twin.macro/pull/134)

[2020-08-24 10:13] ben-rogerson opened #127 "Keyframes should be added by Twin for the `animate-xxx` classes"
Following up on from a feature request by @fvanwijk in https://github.com/ben-rogerson/twin.macro/issues/92#issuecomment-678154951_

The `animate-xxx` classes added in tailwindcss:1.6.0 were originally added to `base.min.css` but were removed in 1.6.1.

So now twin needs to define the `@keyframes` somewhere to allow the animate classes to work.

<details>
  <summary>The missing keyframes css</summ

[2020-08-24 10:14] ben-rogerson commented on #92
Thanks for bringing this up @fvanwijk - I'm keen to hear your thoughts on a good solution over in #127.

[2020-08-24 10:39] ben-rogerson commented on #125
Looks like there's a @fvanwijk verified fix on the way with storybook which is great 😃

As a sidenote, twin will soon have a storybook starter/demo - I'm hoping it will help identify similar issues that pop up between versions.

[2020-08-24 11:05] fvanwijk commented on #127
Thanks for this clear writeup. This way I'm not only learning a lot about how twin.macro / tailwind works under the hood, but it helps me getting involved into contributing to twin.macro.

Regarding the local vs global, both potentially leading to unused code, I'm leaning towards adding the keyframes globally. It is not a lot of code and similar to the reset styles you are never sure if the CSS ev

[2020-08-26 20:08] Eriickson opened #130 "Error with my custom classes"
Hello, I previously had a problem, I commented on it in this way and they responded quickly and with an effective response, now I have a small problem and that is that when I try to add my own class, I get an error (it works as it should) but it is Annoying to see red lines marking errors everywhere
![image](https://user-images.githubusercontent.com/38663299/91351514-6d2dbe80-e7b6-11ea-92c7-85f305

[2020-08-26 21:18] ben-rogerson commented on #130
Hey Eriikson, that error isn't coming from twin. It's most likely coming from a vscode extension. Try disabling some of the tailwind extensions and see if the error disappears.

[2020-08-26 21:18] #130 closed

[2020-08-28 06:01] ben-rogerson commented on #125
Fixed in storybook@6.0.17, closing for now 👋

[2020-08-28 06:01] #125 closed

[2020-08-30 01:28] ben-rogerson commented on #126
Done! 😅  Take a look at the [release notes](https://github.com/ben-rogerson/twin.macro/releases/tag/1.8.0) for more info.

[2020-08-30 01:28] #126 closed

[2020-08-31 12:39] ben-rogerson commented on #127
Hey Frank, thanks for the feedback.
You're right, it's far easier if twin just adds the small amount of keyframe code when you use the classes.

I just pushed a [PR for including the keyframes](https://github.com/ben-rogerson/twin.macro/pull/136 if you'd like to take a look.

Cheers again for the help 👍

[2020-08-31 21:20] ben-rogerson commented on #124
Documentation has been updated, thanks Tim!

[2020-08-31 21:20] #124 closed

[2020-08-31 21:21] #121 closed

[2020-08-31 21:24] ben-rogerson commented on #64
[There's a PR that's landed in the intellisense repo](https://github.com/tailwindlabs/tailwindcss-intellisense/pull/181) that tackles this 🥳

🤞 Hope it gets through.

[2020-09-01 09:12] abhijithvijayan opened #137 "Support for styletron-react"
This is more of a question rather than feature request.

I have used `twin.macro` with `styled-components`

It works perfectly.

I was wondering if `twin.macro` could be used to style [Baseweb ui](https://baseweb.design/) which uses `styletron` by default?

[2020-09-01 22:46] ben-rogerson commented on #137
Heya abhijith, I took a look at the source for some of their components. Looks like they aren't spreading the props onto the root components so I don't think twin will work with baseweb.

[2020-09-02 02:51] abhijithvijayan commented on #137
Thanks :)

[2020-09-02 02:51] #137 closed

[2020-09-02 19:17] mmmoli opened #138 "Failing jest tests with twin.macro"
💙💙💙 this lib!

----

**Situation**
Writing a unit test, in typescript, with jest, as part of a Gatsby app.
Test includes a tw component + emotion:
[code]

**Problem**
Test fails as it can't find `h1`.

[code]

**Details**
twin.macro v1.8.0

----

**Attempted workaround**
I thought I'd a styled component and mixin the tw styles:
[code]

Throws a different error:

[code]

When I hit `babel-plugin-ma

[2020-09-02 20:22] mmmoli commented on #138
Was a messed up babel config file, or Jest. Not related to twin.

For reference:

Here's my `jest.config.js`
[code]

and here's the `babel-jest.config.json`

[code]

[2020-09-02 20:22] #138 closed

[2020-09-04 01:32] sikloidz opened #139 "justify-evenly class missing"
Hi!,

I was trying out twin.macro with a new website I'm building and came across this issue, I was trying to use `justify-evenly` (present in tailwind https://tailwindcss.com/docs/justify-content), but start getting an error that `justify-evenly` was not found, so I had a look in the source code and found out that the class is not included

https://github.com/ben-rogerson/twin.macro/blob/b6a70195

[2020-09-04 13:20] ben-rogerson commented on #139
heya, no worries - thanks for pointing out the missing class.
I've added [`justify-evenly` in v1.8.1](https://github.com/ben-rogerson/twin.macro/releases/tag/1.8.1) 👍

[2020-09-04 13:20] #139 closed

[2020-09-04 23:32] ben-rogerson opened #141 "Support Tailwind CSS v1.8.0"
Damn @adamwathan has been busy!
Twin needs to catch up so we can all use these new toys:

## Easy

- [8x new font variant utilities](https://github.com/tailwindlabs/tailwindcss/pull/2305)
Done - see #143
- [28x grid alignment utilities](https://github.com/tailwindlabs/tailwindcss/pull/2306)
Done - see #145

## Over easy 🍳

- [Dark mode variant](https://github.com/tailwindlabs/tailwindcss/pull/2279

[2020-09-05 15:34] Bowriverstudio opened #144 "Flash of unstyled content with Tailwind and Frontity"
Hello Ben,

I'm using twin macro and Frontity.  They work fantastic, except there is a flash of unstyled content at the start.

Could you please look at this demo site:  https://fouc.bowriverstudio.vercel.app

Repo: https://github.com/Bowriverstudio/flash-of-unstyled-content-frontity-tailwind 1

Best Regards,
Maurice

[2020-09-05 21:07] ben-rogerson commented on #144
hey Maurice, I'm not seeing the flash of unstyled content during testing: (cache is disabled too)

![flashof](https://user-images.githubusercontent.com/21288568/92313476-3dc74f00-f00b-11ea-8b25-f079a25443db.gif)

[2020-09-05 21:49] Bowriverstudio commented on #144
Thank you for looking at it:  I made a little video: https://www.awesomescreenshot.com/video/811192?key=58abbf6afa34f6d967ca25f345032a09

The logo and menu shift on loading.
When I comment out this:

[code]

In:
 https://github.com/Bowriverstudio/flash-of-unstyled-content-frontity-tailwind/blob/master/packages/mars-theme/src/components/Header/Header.js

The menu does not shift.

Note, on my develo

[2020-09-06 13:50] puneetverma05 opened #146 "Styling <body> tag in _document - nextjs not working"
Hello Ben,
Styling the custom body tag in nextjs doesn't seem to work.
added this in _document.tsx file
[code]

[2020-09-06 21:55] ben-rogerson commented on #146
Heya, I believe that part of next is all ssr.
If you're using styled-components, have you [enabled ssr in your babel config](https://github.com/ben-rogerson/twin.macro/blob/master/docs/styled-components/next.md#2-enable-babel-macros-and-configure-styled-components)?

[2020-09-07 04:51] puneetverma05 commented on #146
@ben-rogerson  yes my .babelrc contains:
[code]

[2020-09-07 04:55] puneetverma05 commented on #146
this is how _document.tsx looks
[code]

[2020-09-07 05:28] lednhatkhanh commented on #141
Woohoo, can't wait for the release!

[2020-09-07 22:05] ben-rogerson commented on #146
Babel config looks good. Have you verified the css prop is all setup and working in other files?
If it's not setup you'll see "object Object" when you inspect the element in your dev tools.

[2020-09-11 06:55] avinash-BB commented on #104
Seeing this issue again with v1.8.3
Sample tailwind config which reproduces the issue:
`module.exports = { theme: { extend: { colors: { 'my-green': { 100: '#F1F8E6' } } } } }
`
Then using 'bg-my-green-100' doesn't apply '#F1F8E6', instead it applies tailwind's default green-100 color which is '#F0FFF4'.

[2020-09-12 14:11] duranmla commented on #138
I'm having the same issue. I will guess is more babe config related but I can't understand what to do. I have tried your `jest.config.js` file but without success. I have the following error:

[code]

I'm trying to run a Gatsby + Tailwind + Jest + react-testing-library.

[code]

And mine before trying yours:

[code]

I have tried the link of the error message without sucess https://github.com/kent

[2020-09-12 14:43] duranmla opened #147 "Error using twin.macro with react-testing-library"
Hi! Apologize if this may not be the right place to add this issue but I have seen several issues "around" this within the issues section nevertheless, I still can't find a solution for my problem.

So far I have been enjoying the library a lot and it is a shame that the support for a testing lib like https://github.com/testing-library/react-testing-library seems to now come out of the box. Is the

[2020-09-12 14:59] duranmla commented on #147
Well... After seeing this closer I have done the following:

[code]

and

[code]

And it should work!! 🎉

[2020-09-12 14:59] #147 closed

[2020-09-12 15:02] duranmla commented on #138
I have solved the issue at https://github.com/ben-rogerson/twin.macro/issues/147

[2020-09-13 09:25] ben-rogerson commented on #141
1.9.0 is up! 🎉

[2020-09-13 09:25] #141 closed

[2020-09-13 11:12] puneetverma05 commented on #146
Hey @ben-rogerson , I haven't noticed the [object Object] type ref in the DOM anywhere and I think custom next config look fine to me.
[code]
I have created fork of the next.js demo [CodeSanbox](https://codesandbox.io/s/next-styled-components-tailwind-twin-starter-forked-4o544?file=/pages/index.js) here you can noticed styling not applying on body tag.
Thanks!

[2020-09-13 22:57] ben-rogerson commented on #146
You'll need to add the body within the stylesheet collection area instead:

[code]

[2020-09-14 08:20] bnhr opened #149 "Can not use gap-x and gap-y"
I facing issues where I can not use gap-x and gap-y in GatsbyJS the terminal shows error :
`✕ gap-y-6 was not found
Try one of these classes:
gap-6 [1.5rem] / gap-64 [16rem]`

[2020-09-14 09:03] ben-rogerson commented on #149
Hey Heru, I've made a [demo to show it's working in twin v1.8.0](https://codesandbox.io/s/gatsby-styled-components-tailwind-twin-starter-forked-tz5we?file=/src/pages/index.js).

If you're already using 1.8.0+, could you please post your full `tailwind.config.js`? I suspect there could be an issue there.

[2020-09-14 09:48] bnhr commented on #149
I used twin v1.7. After run yarn upgrade, it's working fine. Thank you

[2020-09-14 09:48] #149 closed

[2020-09-14 10:29] ben-rogerson commented on #144
I've taken another look at this and I'm pretty sure this is just a css problem as the styles are there from the start.

It looks like the menu is shifting because it doesn't know the width of the logo before it's loaded. There's also some lazy loading that frontity is doing in the background with the `<Image />` component that could be confusing things.

Try setting the width and disable shrinking

[2020-09-14 11:27] gulzaryousaf opened #150 "Apply style conditionally"
How can we apply the styles conditionally? it doesn't take any variable even if that variable has the String value in it, there should be a way or applying styles based on specific conditions.

[2020-09-14 11:33] ben-rogerson commented on #104
@avinash-BB I couldn’t see any issues using custom colors, [check out this demo here](https://codesandbox.io/s/issue-demonstraton-for-104-02wx7?file=/src/App.js)

[2020-09-14 11:36] ben-rogerson commented on #150
Take a look at these guides I'm working on:

- [The css prop guide](https://github.com/ben-rogerson/twin.macro/blob/d25b984a6f713ed96173e29cd49992fd4d783e78/docs/css-prop-guide.md)
- [The styled import guide](https://github.com/ben-rogerson/twin.macro/blob/d25b984a6f713ed96173e29cd49992fd4d783e78/docs/styled-import-guide.md)

[2020-09-14 11:36] #150 closed

[2020-09-14 12:34] #146 closed

[2020-09-15 15:28] rowin1125 commented on #30
Is this still a thing, having exactly the same issue as @derekbar90

[2020-09-15 22:55] ben-rogerson commented on #30
Yeah, I haven't spent any more time with it yet.

[2020-09-16 13:33] bowriver commented on #144
Thank you for taking a look at this.  That solve the image issue.  You are correct it is not a twin macro issue.

Cheers,
Maurice

[2020-09-16 13:34] #144 closed

[2020-09-16 20:16] edible-programs opened #152 "Custom "css" config isn't invoked when using tagged literals"
In an attempt to adapt twin to react native, I've configured it as follows:

[code]
To illustrate: what I am expecting from this configuration is that when using twin for tagged literals like so ``tw`flex-1`;`` that the output is processed through `my-custom-thing` just like ``tw(View)`flex-1`;`` is processed through `styled-components/native`

Unfortunately, this is not the case as ``tw`flex-1`;`

[2020-09-18 03:50] ben-rogerson commented on #152
Hey there, twin does the tailwind class processing during Babel compilation, so you'll only be able to pass a css object through to a custom function of your own.

You can specify custom tailwind.config.js values that should work with react native.
That way you could use tw.div`` or styled.div`` for the styling.

[code]

Using tw to make styled-components:

[code]

or using styled to make styled-c

[2020-09-18 13:16] fvanwijk opened #153 "How to use and import external components"
I'm developing a component library in a separate repo and for the time being I have it `npm link`ed in my application repository.

The component library is set up the default way using styled-components. I have one Button component which renders find in Storybook.
In the application repo I have this:

[code]

The application is compiling fine, but in the browser console I get warnings and errors:

[2020-09-20 06:14] ben-rogerson commented on #153
Hey Frank, I'm fairly sure this is styled-components thing.

Take a look at [this thread](https://github.com/styled-components/styled-components/pull/1102
) and the ones linked off it at the end.
Looks like you may need to use `StyleSheetManager` in your component library.

[2020-09-20 22:05] edible-programs commented on #152
Thank you so much for the detailed response. As you pointed out
[code]
works fantastically. To achieve what I wanted, I made sure the use the `css` prop, as follows:
[code]
but the following does _not_ work

[code]
With a couple custom plugins, I have twin working on react native! Very happy with the result, it has been a major source of productivity. Thank you for this project.

[2020-09-22 23:01] #64 closed

[2020-09-22 23:01] #43 closed

[2020-09-22 23:03] #92 closed

[2020-09-22 23:13] ben-rogerson commented on #152
That's great news, next time I'm making a native app this will come in handy 👍

It would be great to post your plugin code here so others can have a quicker setup.

[2020-09-22 23:13] #152 closed

[2020-09-22 23:56] #37 closed

[2020-09-23 18:01] fvanwijk commented on #153
You are right, it is not a Twin issue, so I will close it.
Thanks for the efforts nevertheless.

After some research I found out that when the module is linked, also the node_modules are included as it is just a symlink. That causes errors when import `styled_component` both from `node_modules` and `node_modules/my-component-lib/node_modules`.
I resolved it by setting an explicit webpack (babel-lo

[2020-09-23 18:01] #153 closed

[2020-09-24 13:54] ben-rogerson commented on #127
You can use the GlobalStyles import to add the keyframes in [v1.10.0+](https://github.com/ben-rogerson/twin.macro/releases/tag/1.10.0) 🎉.

[2020-09-24 13:54] #127 closed

[2020-09-24 21:23] ben-rogerson commented on #123
From v1.10.0, twin will now pop an error when you try to use `tw` within a style prop 🎉

[2020-09-24 21:23] #123 closed

[2020-09-28 17:55] IRediTOTO commented on #17
this should be future feature :D

[2020-09-30 11:41] yashSangai opened #156 "Not able to use group class"
#### The problem

When I am trying to add group class to an element using tw, it is throwing an error and suggesting me to use class names instead.

**For Reference:** https://tailwindcss.com/docs/pseudo-class-variants#group-hover

#### Bug reproduction

[code]

[2020-09-30 20:41] ben-rogerson commented on #156
The group classes work a little differently to others, they need to be added as a `className`, [take a look at this doc](https://github.com/ben-rogerson/twin.macro/blob/master/docs/group.md).

[2020-09-30 20:41] #156 closed

[2020-10-01 02:05] yashSangai commented on #156
Thanks for the info!

[2020-10-01 09:54] gulzaryousaf commented on #150
This is cool, Thanks.

I was thinking to apply styles conditionally to tw="border-gray-500" like we add or remove class  conditionally in React JS but the above solution works perfect. 👍

[2020-10-08 13:19] Acidic9 commented on #17
This is especially useful when using padding in the tailwind macro - eg: `gap`.

[code]

I'm not sure whats the best workaround currently.

[2020-10-08 15:26] Acidic9 commented on #127
@ben-rogerson I noticed these are hard coded right? So how to do we add our own keyframes? I've been having trouble doing so

[2020-10-08 15:53] fvanwijk commented on #127
The `GlobalStyles` component from styled-components includes the keyframes from Tailwind. If you want to add your own keyframes or other global styles, just use `createGlobalStyle` from `styled-components` like in the example above.

[2020-10-08 18:41] Acidic9 commented on #127
@fvanwijk I see - it would be good if the tailwind config gets read and inserts animations into the GlobalStyle component itself by default

[2020-10-08 20:32] ben-rogerson commented on #127
Looks like I missed adding the [keyframes customization](https://tailwindcss.com/docs/animation#customizing) functionality.
Adding the keyframes automatically through GlobalStyles seems like a good idea.

[2020-10-08 21:30] ben-rogerson commented on #17
Interpolation isn't possible with Babel macros so try using something like this:

[code]

[2020-10-08 21:37] Acidic9 commented on #17
@ben-rogerson yep that's what I ended up doing, it's just a shame because I needed to also accomodate for `sm`, `md`, `lg` and `xl` of all the sizes, and my gapSize objects ended up being over 225 lines of code - but I don't think there's any other option so it's fine for now

[2020-10-08 23:10] fvanwijk commented on #17
I documented all the spacings in Storybook and therefore stumbled upon the same issues.
This does not work:
[code]
I fixed it by using the 'raw' spacing values from the tailwind config instead of using `tw`:
[code]

[2020-10-09 02:26] ben-rogerson commented on #17
Worth noting is that this won't get the combined config values, only the ones you define in your tailwind.config.js.
Perhaps the theme import could be updated to grab the entire combined theme if you leave off the backticks. Currently, the theme import only grabs a single theme value.
eg:
[code]

[2020-10-09 07:27] fvanwijk commented on #127
Thanks for mentioning. I didn't even know that this config feature existed 👍
That would mean that the custom keyframes could be inserted by twin.macro, but other regular custom global HTML will be inserted using the `createGlobalStyle` (or using a plain css file)

[2020-10-12 17:00] cybervaldez commented on #86
In Tailwind, disabling the text and background opacity would remove the variables.

[code]

this is adding some unnecessary overhead, in my case i'm using twin.macro to animate object properties.

[2020-10-12 17:06] cybervaldez opened #160 "Disabling textOpacity/backgroundOpacity should remove the variables similar to tailwind's output"
In Tailwind, disabling the text and background opacity would remove the variables but this is not the case for twin.macro.

[code]

this is adding some unnecessary overhead, in my case i'm using twin.macro to animate object properties so I would prefer to only manipulate the background or color properties(as it should).

_Originally posted by @cybervaldez in https://github.com/ben-rogerson/twin.ma

[2020-10-12 19:42] ben-rogerson commented on #160
I'm keen on hearing your thoughts on the overhead.
Are you noticing poor animation performance because of the css variable?

[2020-10-13 10:03] r0skar commented on #160
Sidenote: disabling the CSS variables also helps with IE11. While there are a couple of polyfills, none of them handles nested variables very well and we had a hard time making it work.

[2020-10-13 10:28] cybervaldez commented on #160
It does since many of the animation libraries(I'm using framer motion) goes through each property every animation frame. Those extra props also makes debugging very unwieldy when there's a lot of animation going on. Also the issues the variables bring with IE11 as @r0skar as pointed out

But ultimately, we should be expecting the same output similar to that of tailwind.css

[2020-10-14 20:14] ben-rogerson commented on #160
There are no plans to add true IE11 support to Twin, but perhaps there could be something in the twin config that disables the css variables within colors?

Eg:

[code]

Anyone feel like leading the charge?

[2020-10-15 03:16] wahyupriadi commented on #17
can we simplify it like
[code]
it will return the same

[2020-10-15 06:24] ben-rogerson commented on #17
@wahyupriadi Sure - that works too 👍  You just need use `tw` alongside the value.

[2020-10-19 09:02] ben-rogerson opened #171 "Keyframes aren't pulling from the config"
Looks like I missed adding the [keyframes customization](https://tailwindcss.com/docs/animation#customizing) functionality.
Adding the keyframes automatically through GlobalStyles seems like a good idea.

_Originally posted by @ben-rogerson in https://github.com/ben-rogerson/twin.macro/issue_comments/705807595_

Aiming to fix this in the next version.

[2020-10-19 09:03] ben-rogerson commented on #127
I've moved this to an issue, see #171

[2020-10-21 20:29] ben-rogerson commented on #160
@cybervaldez @r0skar Could you please check my PR and see if this covers your use-cases?

[2020-10-22 01:08] vinverdy commented on #30
I encounter this issue and already found solution on my side. The problem is because the codes is already transpiled by rpt2, so the babel could not pick up the "macros". Therefore if you remove rpt2 and transpile the typescript using the babel, would be work like a charm. Hope it helps

[2020-10-26 03:10] ben-rogerson opened #175 "Maximum call stack size exceeded in v1.11.0"
In v1.11.0, you'll see a `Maximum call stack size exceeded` error often when you get a class wrong.

Fix: Either downgrade to v1.10.0 or wait for the patch which will be released shortly.

[2020-10-26 03:12] eddiewang commented on #175
Worth clarifying that this bug only occurs when there is an invalid class in twin.macro. Once that's removed the error goes away. The bug here is that it's difficult to target which specific class we need to remove to fix tw's compilation.

[2020-10-26 08:53] ben-rogerson commented on #175
Fixed in 1.11.1 🎉

[2020-10-26 08:53] #175 closed

[2020-10-28 10:49] ben-rogerson commented on #160
The feature is now in [v1.12.0](https://github.com/ben-rogerson/twin.macro/releases/tag/1.12.0) 🎉

[2020-10-28 10:49] #160 closed

[2020-10-28 10:50] ben-rogerson commented on #171
The fix is now in [v1.12.0](https://github.com/ben-rogerson/twin.macro/releases/tag/1.12.0) 🎉

[2020-10-28 10:50] #171 closed

[2020-10-29 14:01] abhijithvijayan commented on #30
![Screenshot_20201029_192950](https://user-images.githubusercontent.com/34790378/97583613-2742e000-1a1d-11eb-877d-37c97fa6166a.png)

So I presume this has something to do with this as well (without rollup).
I am trying to build a component with tsc (`es5`) enabled and then publish it and use it.

[2020-10-30 01:17] ben-rogerson commented on #30
You'll need to precompile your components with Babel before export.
I'm working on a demo with Rollup, hang tight and I'll release it shortly.

[2020-10-30 22:48] ben-rogerson commented on #116
You've found a hole in the types there.
Try this:

[code]

[2020-10-31 16:57] arafatamim opened #180 "Using `as` prop throws error when using TypeScript"
#### The problem

Using the `as` prop on `TwComponent` and `StyledComponent` raises an error when using TypeScript. Not sure if the problem is directly related to `twin.macro`:
[code]
Although using the prop works as expected in production if you use `// @ts-expect-error` to sidestep the issue.

[2020-11-01 11:04] ben-rogerson commented on #180
There seems to be an issue with this typing twin provides:

[code]

But you can add your own workaround for now:

[code]

If anyone wants to help with the updated types please chime in.

[2020-11-02 13:36] ben-rogerson commented on #30
Check out the [Twin component library monorepo](https://github.com/ben-rogerson/twin.examples/tree/master/twin-component-library-monorepo) for a pretty sweet component library setup 🎉

I'm closing up this issue now but feel free to reopen if there are any further issues.

[2020-11-02 13:36] #30 closed

[2020-11-05 13:39] skoshy commented on #7
@ben-rogerson What's the technical reason for not being able to support `addVariant`?

Also I know twin adds in many more bartenura, but what should the workaround be if we'd like to use some new custom variants to use with twin?

[2020-11-05 21:52] ben-rogerson commented on #7
It's been a while since I looked at this, but I remember there being issues due to the differences in tailwind who generates all the styles ahead of time vs twin that generates the css after you use a class. I think it's probably worth another look on my part to see if I can come up with another solution.

The only workaround at the moment would be to generate the classes with the variants in a pl

[2020-11-06 08:33] justicecurcian opened #183 "Goober preset does not work"
#### The problem

I expect goober preset to work out of the box, but it does not.

Am I missing something or just no one tested twin.macro + goober?

[code]

#### Bug reproduction

https://codesandbox.io/s/vibrant-noether-tz429?file=/src/App.js

[2020-11-08 06:06] ben-rogerson commented on #183
Hey, thanks for making that demo.
I've been meaning to provide some docs around Goober support.

Using Goober with Twin gives you the ability to make styled components but doesn't match the features of emotion / styled-components.

With `{ preset: 'goober' }`:

**✓ Supported**
- The `styled` import: `styled('div')` < Must be this format
- The `css` import: `css`` `

**✗ Unsupported**
- The `tw` im

[2020-11-08 06:19] ben-rogerson opened #184 "Emotion version 11 + Twin issues"
There are some issues with the next major emotion version around imports.

See the workaround below.

[2020-11-08 07:48] justicecurcian commented on #183
Thanks for your fast reply and good explanation on goober support in twin. It's a shame that it lacks all those features.
And, in my opinion, it's wierd that goober transform does not transpiles `styled.div` into `styled('div')`.
Will goober support be improved in later versions of twin?

[2020-11-08 11:07] ben-rogerson commented on #183
Goober does have a [babel plugin](https://www.npmjs.com/package/babel-plugin-transform-goober) that transforms `styled.div` but I had no luck using it with the object spread styles in [the demo](https://codesandbox.io/s/goober-test-q6b09?file=/src/index.js:679-898).

I'm aiming for better support for sure but I much of it depends on the features Goober decides to add.

[2020-11-08 11:26] #183 closed

[2020-11-12 03:13] nghiepit commented on #184
`Emotion 11.0.0` has been released and renamed to `@emotion/react` instead of `@emotion/core`.
Any twin updates yet?

[2020-11-12 03:43] ben-rogerson commented on #184
Emotion moved from `@emotion/core` to `@emotion/react` so here's the upgrade instructions while we wait for the twin import presets to catch up:

[code]

Then add these imports to your twin config:

[code]

Note: Make sure there's no `preset` in the twin config - that setting will override these custom imports.

---

### For `@emotion/babel-plugin-jsx-pragmatic` users

Also if you're using `@emoti

[2020-11-12 08:25] soilSpoon commented on #184
@ben-rogerson how to use `tw` prop without `import "twin.macro"` on [Emotion 11](https://emotion.sh/docs/emotion-11) and [Nextjs 10](https://nextjs.org/blog/next-10)?

[2020-11-12 08:32] ben-rogerson commented on #184
hey @soilSpoon, babel-plugin-macros like Twin need an import to work, there was some [discussion](https://github.com/ben-rogerson/twin.macro/discussions/182) about this a few days ago.

[2020-11-12 11:22] mhaagens commented on #184
Possibly related, i'm getting `Can't resolve '@emotion/core` every time I try to use `<GlobalStyle />` with Next.js.

[2020-11-12 13:13] soilSpoon commented on #184
## For `Typescript` users
To fix this, create a twin.d.ts file in your project root (src/twin.d.ts with create-react-app) and add these declarations:
[code]
Then add the following in tsconfig.json:
[code]

[2020-11-12 13:17] soilSpoon commented on #184
@mhaagens
Do you enable babel-macros?
[Reference](https://github.com/ben-rogerson/twin.macro/blob/master/docs/styled-components/next.md#2-enable-babel-macros-and-configure-styled-components)

[2020-11-12 20:01] ben-rogerson commented on #184
I think your twin config isn't being picked up and so it's falling back on the defaults (`@emotion/core`). Perhaps you could [compare your setup against the demo](https://codesandbox.io/s/next-styled-components-tailwind-twin-starter-m1f6d?file=/components/Button.js).

[2020-11-13 20:39] xdrdak opened #187 "CSS variables as style properties do not get properly transformed"
It appears as though twin.macro doesn't transform some css properties properly within user plugins.

Namely, if we are using a css variable as a property, it'll be completely camelized in the final output.

Given the following configuration file.

[code]

If we use the macro...

[code]

In reality the output should be:

[code]

See sandbox for further details

https://codesandbox.io/s/next-styled-

[2020-11-14 17:09] onceLearner commented on #184
thanks man !  I spent two hours figuring out why I have the issue even though I followed the docs for NextJs Emotion .

[2020-11-14 22:12] ben-rogerson commented on #122
See #64 🎉

[2020-11-15 10:32] #187 closed

[2020-11-15 16:02] rattrayalex commented on #17
Naive question, and possibly not constructive, from someone without twin experience: Could TS types be used (and thus required) for interpolation? Eg;

[code]

Of course, since Babel does not have access to TS's toolchain during compilation, the union types used would have to be quite simplistic, like only unions coming directly from twin, or defined as a single literal within the file. Anything "

[2020-11-15 19:49] ben-rogerson commented on #17
@rattrayalex Twin doesn't know how to work with TS interpolation like that, perhaps take a look at [these guides I'm working on](https://github.com/ben-rogerson/twin.macro/pull/105) for all the ways you can use conditional styling

[2020-11-18 02:14] ben-rogerson commented on #125
I've just added a [storybook + emotion demo](https://github.com/ben-rogerson/twin.examples/tree/master/storybook-emotion), more soon.

[2020-11-18 21:20] ben-rogerson opened #190 "Tailwind v2 support"
**Update:**
Now that we're through these Tailwind changes, [I'm now making some tweaks to twin](https://github.com/ben-rogerson/twin.macro/discussions/170) before it also receives a version 2.
If all goes smoothly, you can expect a twin.macro v2 this weekend (around 2nd Dec) 🎉

---

Tailwind has released a bunch of [new or updated features](https://github.com/tailwindlabs/tailwindcss/releases/tag/

[2020-11-18 21:39] alessbell commented on #190
👋 Thanks for your work on this! I should have time to pick up a task or two once they're split out.

[2020-11-19 07:10] eddiewang commented on #190
same here! working deeply with the twin.macro library so happy to help out if there's low hanging fruit.

[2020-11-19 13:48] bebbi opened #192 "ReferenceError: styled is not defined"
In an otherwise well-working project with gatsby + styled-components (using `tw` prop, `css` prop, and `tw` import is working fine), I randomly can't get the `styled` import to work and get `ReferenceError: styled is not defined` if I try.

The error doesn't come up always. First I've managed to get it to work somehow.
After that, I could get it to fail again with above error by:
- randomly creati

[2020-11-19 21:56] ben-rogerson commented on #190
I've now updated the task list, let me know if you want to bag any of the tasks.

[2020-11-20 02:57] ben-rogerson commented on #192
Hey there, thanks for bringing up this issue and posting this detailed report.

This reminds me of a styled bug I've also been trying to pinpoint, maybe it's the same one!

It seems to manifest when you use a mixture of the css/tw props and the `styled` import but I'm having trouble tracking it down again also.

What I think might be happening is that Babel usually renames styled to `_styled` to a

[2020-11-20 08:38] bebbi commented on #192
Barring unforeseen codebase changes, I should be able to reproduce this anytime. Happy to assist when you're ready!

[2020-11-20 17:32] michaelpanik commented on #190
Hey @ben-rogerson I use twin.macro daily now, would love to contribute on some of these.

[2020-11-21 04:02] ben-rogerson commented on #190
Great to hear that!
Looks like there are two baggable features left at the top.

[2020-11-21 05:46] ben-rogerson commented on #180
I've updated twin's typescript docs to include the workaround.

Feel free to reopen if you want to adjust the core typings.

[2020-11-21 05:46] #180 closed

[2020-11-21 13:17] talohana commented on #11
Any updates on this?

[2020-11-21 22:29] ben-rogerson commented on #11
Not great news but I hit some major roadblocks and backed out. Without major structural code changes, I'm unsure if it's accomplishable. Firmly in the 'too hard' bucket for now.

[2020-11-22 02:07] johnhayesio opened #203 "Can't resolve @emotion/core"
When importing css from twin.macro, I am getting can't resolve @emotion/core. I am using Next.js with the @emotion/react variant and also Tailwind 2. I'm not sure what the conflict is. In order to use the css tag, I have to import it from @emotion/react instead of twin.macro.

[2020-11-22 03:41] ben-rogerson commented on #203
Hey John, this is due to the changes made in emotion@11, check [this post](https://github.com/ben-rogerson/twin.macro/issues/184#issuecomment-725810203) for the fix.

Twin v2 will update the default import to use the ones provided from `@emotion/react`.

[2020-11-22 04:25] pix2D commented on #190
I have nothing to add to this particular issue, but I just wanted to take a moment to thank you for all your hard work @ben-rogerson. This library is truly enjoyable to use. Rock on. 🥇

[2020-11-22 15:06] ayox commented on #190
Thank you @ben-rogerson for your amazing work, I have been enjoying myself building stuff using this library.

[2020-11-22 21:13] johnhayesio commented on #203
Thanks, @ben-rogerson! That worked and fixed everything! Appreciate everything!

[2020-11-22 21:13] #203 closed

[2020-11-23 23:26] derekbar90 commented on #30
Thank you @ben-rogerson !

[2020-11-24 01:18] ben-rogerson commented on #190
Thanks to everyone that helped out with the updates + sponsoring me too @pix2D

I'm now making some tweaks to twin before it also receives a version 2.
If all goes smoothly, you can expect a twin.macro v2 this weekend (around 2nd Dec) 🎉

[2020-11-25 07:59] dananw commented on #190
Thank you @ben-rogerson I can't wait for it.

[2020-11-25 20:18] hansfpc commented on #190
Ty @ben-rogerson !
Can't wait for it 😎

[2020-11-26 18:57] sebastianfast commented on #190
Thanks!

[2020-11-27 02:52] neilnahid opened #212 "React is not defined (Emotion,TypeScript,Next.js)"
Steps to reproduce:
1. Follow guide https://github.com/ben-rogerson/twin.examples/tree/master/next-emotion
2. Visit any page
3. See Error
![image](https://user-images.githubusercontent.com/25801890/100403675-7884d480-309a-11eb-96f3-963f04e7a808.png)

I think it has something to do with shorthand for React.Fragments

[2020-11-29 03:57] alexperronnet commented on #190
_(just for participants receive a notification)_

Twin v2 is out! https://github.com/ben-rogerson/twin.macro/releases/tag/2.0.0

[2020-11-29 09:06] ben-rogerson commented on #190
Thanks again to everyone who helped out with the release, if you'd like to help out next time around I'll be doing the same thing here. Just monitor the issues to snag one for yourself.
Thanks!

[2020-11-29 09:06] #190 closed

[2020-11-29 11:25] neilnahid opened #213 "2xl variant was not found"
1. the new screen size variant for tailwind v2 called "2xl" was not found
2. Should be able to find the 2xl variant
3. using styled-components
4. https://codesandbox.io/s/next-styled-components-tailwind-twin-starter-forked-37491?file=/pages/index.js

[2020-11-29 11:33] ben-rogerson commented on #184
I've updated the default preset in v2 to use `@emotion/react` so you can remove the custom imports and rely on that now 👍

[2020-11-29 11:33] #184 closed

[2020-11-29 11:39] ali4heydari opened #214 "Default variant of some Tailwind class was not found"
1. default variant of some Tailwind class was not found
2. Should be able to find the default variant
3. using styled-components
4. [Demo in Gitpod](https://gitpod.io/#https://github.com/ali4heydari/ali4heydari.github.io) **change `twin.macro` to `2.0.1`**

I've upgraded `twin.macro` package to `2.0.1` and I get error bellow.
You can see the error in this [gitpod](https://gitpod.io/#https://github

[2020-11-29 11:53] ben-rogerson commented on #214
Hey there,

[Check out this change](https://github.com/tailwindlabs/tailwindcss/pull/2580) that was made in Tailwind.

You'll need to add an item with the key name of `DEFAULT` in order to use the default value like you're used to.

For example:

To use `border`:

[code]

[2020-11-29 12:00] Dramloc opened #215 "`transform` and `transform-gpu` don't use the correct CSS variables"
Hi!

I've found the following issues in v2 when using the `transform` and `transform-gpu` classes:
- `transform` uses the `--tw-scale-x` and `--tw-scale-y` CSS variables, but `scale-*` classes create the `--tw-transform-scale-x` and `--tw-transform-scale-y` CSS variables so the scale is not applied.

This issue could be fixed by changing the definition in [dynamicStyles.js](https://github.com/ben-

[2020-11-29 12:11] ben-rogerson commented on #213
Thanks so much for the excellent bug report.

I've now fixed the issue in 2.0.2 👍

[2020-11-29 12:11] #213 closed

[2020-11-29 12:15] neilnahid commented on #213
No problem! Happy to help 😅

[2020-11-29 12:16] ali4heydari commented on #214
Thank you Ben. ❤️

[2020-11-29 12:16] #214 closed

[2020-11-29 12:19] ben-rogerson commented on #215
Great pickup and excellent bug report!
I'll tackle this first thing in the morning 👍

[2020-11-29 12:23] sampotts opened #216 "`shadow` not found... but it's listed as an alternative"
When upgrading to `2.0.2` and building our app, I get this:

![image](https://user-images.githubusercontent.com/719092/100541713-c582c980-3299-11eb-97d0-e5cf441b6b0d.png)

Unless there's something funky going on I need to fix? It seems odd though.

[2020-11-29 12:36] ben-rogerson commented on #216
Hey there,

[Check out this change](https://github.com/tailwindlabs/tailwindcss/pull/2580) that was made in Tailwind.

You'll need to add an item with the key name of `DEFAULT` in order to use the default value like you're used to.

For example:

To use `border`:

[code]

I think I may need to adjust the suggestion in this case, I don't think it should be recommending the shadow class as being ava

[2020-11-29 18:35] klittlepage opened #220 "Invalid transform scale variables break transitions"
Thanks so much for your work on v2 🎉

A transition such as `transition-transform duration-500 hover:transform hover:scale-125` generates:

[code]

We need to change `--tw-transform-scale-{x,y}` to `--tw-scale-{x,y}`. I'm opening a PR to do so.

[2020-11-29 19:13] klittlepage commented on #220
I'm closing this after having coffee and realizing that it's a straight dupe of #215. I'm amending my original PR to include the GPU fix as well.

[2020-11-29 19:13] #220 closed

[2020-11-29 20:36] #215 closed

[2020-11-29 20:47] ben-rogerson commented on #215
Update to 2.0.3 for the fix 🎉

[2020-11-29 23:34] Dramloc opened #224 "`shadow` classes incompatible with ring utilities"
Hi,

I found an issue when using `shadow-*` classes with the new ring utilities. Using one seems to override the other, making them incompatible.

Here are some examples:
[code]
[code]

You can find reproduction examples here: https://codesandbox.io/s/twinmacro-ring-and-shadow-issue-1p99p.

Implementing the same behavior as tailwind could fix this issue. In v2, `shadow-*` utilities now create a `-